---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_folder(folder_id: \"invalid_folder_name\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"983a989bbfd86c0fb5ad6ca4c7384187"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"The folder does not exist. Please check your
        folder ID and try again","locations":[{"line":1,"column":10}],"path":["delete_folder"],"extensions":{"code":"InvalidFolderIdException","status_code":200,"error_data":{"folder_id":0}}}],"error_message":"The
        folder does not exist. Please check your folder ID and try again","error_code":"InvalidFolderIdException","error_data":{"folder_id":0},"status_code":200,"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:08 GMT
recorded_with: VCR 6.2.0
