---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18383915989","name":"Test Board","description":null}},"extensions":{"request_id":"5f887733-7585-9382-9241-c9fa301dc579"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:48 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18383915989\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"10593220337","name":"Test Item","created_at":"2025-11-19T02:16:49Z"}},"extensions":{"request_id":"4e39f0da-34dc-9d0e-8d14-f8200695c022"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:49 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_column(board_id: \"18383915989\", title:
        \"Files\", description: \"Documents\", column_type: file){id title description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_column":{"id":"file_mkxvwgpr","title":"Files","description":"Documents"}},"extensions":{"request_id":"83940342-0b95-94b0-a961-06dbc76ff815"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:50 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation { change_column_value(board_id: \"18383915989\",
        item_id: \"10593220337\", column_id: \"file_mkxvwgpr\", value: \"{\\\"clear_all\\\":
        true}\") {id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"change_column_value":{"id":"10593220337"}},"extensions":{"request_id":"93eb6224-3274-9c2f-9a09-2baf7f224f16"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:51 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18383915989){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18383915989"}},"extensions":{"request_id":"b1e66beb-883a-9df5-af01-460881e07ee0"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:52 GMT
recorded_with: VCR 6.2.0
