---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Update Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18265883471","name":"Update Test Board","description":null}},"extensions":{"request_id":"8f50bc60-d713-9624-a92e-c9463b539443"}}'
  recorded_at: Fri, 24 Oct 2025 18:13:32 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18265883471\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18265883556","name":"Task
        1"}]}}]},"extensions":{"request_id":"3d06175a-b800-9162-8639-43194bfa0c71"}}'
  recorded_at: Fri, 24 Oct 2025 18:13:33 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_item(item_id: 18265883556){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_item":{"id":"18265883556"}},"extensions":{"request_id":"2164c9e3-d1a7-9b6a-aae3-05d34d40c996"}}'
  recorded_at: Fri, 24 Oct 2025 18:13:35 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{update_board(board_id: \"18265883471\", board_attribute:
        description, new_value: \"New description\")}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"update_board":"{\"success\":true,\"undo_data\":{\"undo_record_id\":\"c9470739-7c27-4eab-b2b4-ccbef3e52476\",\"action_type\":\"modify_project\",\"entity_type\":\"Board\",\"entity_id\":18265883471,\"count\":1}}"},"extensions":{"request_id":"9c96826a-ccf4-92b4-8f96-570017b1eee8"}}'
  recorded_at: Fri, 24 Oct 2025 18:13:35 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18265883471){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18265883471"}},"extensions":{"request_id":"d594444e-3fac-921a-9483-3da7ee506703"}}'
  recorded_at: Fri, 24 Oct 2025 18:13:36 GMT
recorded_with: VCR 6.3.1
