---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"eb89d1c438867f5bc9963feaace03998"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"6976537524","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:11:12 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: 6976537524){activity_logs{id event data}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"362a14beabe8a59d17d5a44131ad6602"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"activity_logs":[{"id":"3d4cf392-99d5-44ed-a4ed-9cdf1bf80e3f","event":"create_pulse","data":"{\"board_id\":6976537524,\"group_id\":\"topics\",\"group_name\":\"Group
        Title\",\"group_color\":\"#037f4c\",\"is_top_group\":true,\"pulse_id\":6976537530,\"pulse_name\":\"Task
        1\",\"column_values_json\":\"{}\"}"},{"id":"f77e1ec3-f425-40da-ba71-7cc3a711c7f1","event":"board_workspace_id_changed","data":"{\"board_id\":6976537524,\"value\":{\"workspace_id\":7217155},\"previous_value\":{\"workspace_id\":null}}"},{"id":"25b65ed3-f3ff-49bd-bc53-62617d6a18d5","event":"update_board_name","data":"{\"board_id\":6976537524,\"board_name\":\"Test
        Board\",\"value\":{\"name\":\"Test Board\"},\"previous_value\":{\"name\":null}}"},{"id":"e8850206-aad9-46ee-8b05-ce1c5d57f9f8","event":"create_column","data":"{\"board_id\":6976537524,\"column_id\":\"name\",\"column_title\":\"Name\",\"column_type\":\"name\"}"},{"id":"ed844d08-093a-46e6-ab41-e8700c530d83","event":"create_group","data":"{\"board_id\":6976537524,\"group_id\":\"topics\",\"group_title\":\"Group
        Title\",\"group_color\":\"#037f4c\"}"}]}]},"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:11:14 GMT
recorded_with: VCR 6.2.0
