---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"9755eeee6d8c76b73fc6757c4d71f94d"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"6976539008","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:12:24 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: 6976539008){activity_logs{id event data}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"ae9826637ae30bb2dc4d313139160099"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"activity_logs":[{"id":"25ab8069-a04e-4cd6-8519-74bc957c09b0","event":"create_pulse","data":"{\"board_id\":6976539008,\"group_id\":\"topics\",\"group_name\":\"Group
        Title\",\"group_color\":\"#037f4c\",\"is_top_group\":true,\"pulse_id\":6976539020,\"pulse_name\":\"Task
        1\",\"column_values_json\":\"{}\"}"},{"id":"efa4386d-5030-49ee-b16b-b92e3698732f","event":"board_workspace_id_changed","data":"{\"board_id\":6976539008,\"value\":{\"workspace_id\":7217155},\"previous_value\":{\"workspace_id\":null}}"},{"id":"db736fc9-f080-4467-9f23-934a011901b1","event":"update_board_name","data":"{\"board_id\":6976539008,\"board_name\":\"Test
        Board\",\"value\":{\"name\":\"Test Board\"},\"previous_value\":{\"name\":null}}"},{"id":"d68cd6c8-de9c-4d17-9787-70d939075fc6","event":"create_column","data":"{\"board_id\":6976539008,\"column_id\":\"name\",\"column_title\":\"Name\",\"column_type\":\"name\"}"},{"id":"646ba03d-b315-41ee-93e4-8f035e4c4664","event":"create_group","data":"{\"board_id\":6976539008,\"group_id\":\"topics\",\"group_title\":\"Group
        Title\",\"group_color\":\"#037f4c\"}"}]}]},"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:12:26 GMT
recorded_with: VCR 6.2.0
