---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{users{account {id name}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-04
      Etag:
      - W/"f15a5c5be48de673192616f7b8fd036e"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"users":[{"account":{"id":"17545454","name":"test-account"}}]},"account_id":17545454}'
  recorded_at: Wed, 26 Jun 2024 22:49:19 GMT
recorded_with: VCR 6.2.0
