---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2/file
    body:
      encoding: ASCII-8BIT
      string: "----3680a4fb-ddd6-4820-9ded-facff2c01b12\r\nContent-Disposition: form-data;
        name=\"query\"\r\n\r\nmutation add_file($file: File!) {\n  add_file_to_column(item_id:
        \"123\", column_id: \"file_123xyz\", file: $file) {id}\n}\n\r\n----3680a4fb-ddd6-4820-9ded-facff2c01b12\r\nContent-Disposition:
        form-data; name=\"variables[file]\"\r\n\r\nsome_file_string\r\n----3680a4fb-ddd6-4820-9ded-facff2c01b12--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=--3680a4fb-ddd6-4820-9ded-facff2c01b12
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":500,"error_message":"Internal server error","error_code":"INTERNAL_SERVER_ERROR","errors":[{"message":"Internal
        server error","extensions":{"status_code":500,"error_code":"INTERNAL_SERVER_ERROR"}}]}'
  recorded_at: Wed, 19 Nov 2025 02:16:12 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18383915702","name":"Test Board","description":null}},"extensions":{"request_id":"6f3a8bf7-0c2f-9f67-b170-38219895fb27"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:13 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18383915702){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18383915702"}},"extensions":{"request_id":"f8b6a1f9-7ce1-9984-9998-69e1073b4283"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:14 GMT
recorded_with: VCR 6.2.0
