---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards{id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"id":"18265233744","name":"Second Board","description":null},{"id":"18265231179","name":"Pagination
        Test Board","description":null},{"id":"18265175352","name":"Second Board","description":null},{"id":"18265171829","name":"Pagination
        Test Board","description":null},{"id":"18265039399","name":"Pagination Test
        Board","description":null},{"id":"18264782976","name":"Update Test Board","description":null},{"id":"18264696633","name":"Duplicate
        Test Board","description":null},{"id":"18264022533","name":"Update Test Board","description":null},{"id":"18260607716","name":"Duplicate
        Test Board","description":null},{"id":"18260591366","name":"Archive Test Board","description":null},{"id":"18227692797","name":"Pagination
        Test Board 1760995084","description":null}]},"extensions":{"request_id":"a127d72c-8da0-92da-859b-267a7d05cc32"}}'
  recorded_at: Fri, 24 Oct 2025 17:57:38 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Query Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18265744772","name":"Query Test Board","description":null}},"extensions":{"request_id":"337c085c-8a80-942e-9411-76dabec81a71"}}'
  recorded_at: Fri, 24 Oct 2025 17:57:40 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18265744772\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18265744838","name":"Task
        1"}]}}]},"extensions":{"request_id":"36b8fdb0-6217-995f-940e-25eb1d190692"}}'
  recorded_at: Fri, 24 Oct 2025 17:57:41 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_item(item_id: 18265744838){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_item":{"id":"18265744838"}},"extensions":{"request_id":"08d051c1-51fc-9b3c-b4fe-32ac4bac6ca4"}}'
  recorded_at: Fri, 24 Oct 2025 17:57:42 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18265744772){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18265744772"}},"extensions":{"request_id":"827352ae-5802-9561-ac7d-3ccb657ba562"}}'
  recorded_at: Fri, 24 Oct 2025 17:57:43 GMT
recorded_with: VCR 6.3.1
