---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"4edb72b0cab08f6c1ee310178231abb3"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"6976602839","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:36:10 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{duplicate_board(board_id: \"6976602839\", duplicate_type:
        duplicate_board_with_structure){board{id name description}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"3dda211000cdc28431022e2ffb047b18"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"duplicate_board":{"board":{"id":"6976602882","name":"Duplicate
        of Test Board","description":null}}},"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:36:11 GMT
recorded_with: VCR 6.2.0
