---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_workspace(name: \"Test Workspace\", kind:
        open){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"316204d4a7f7dd3845fe85b036c26364"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_workspace":{"id":"8529958","name":"Test Workspace","description":null}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:04 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_folder(workspace_id: \"8529958\", name: \"Database
        boards\"){id name}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"1d4ee1ce33032a965e7f72a35c79cab6"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_folder":{"id":"15476752","name":"Database boards"}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:05 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{update_folder(folder_id: \"15476752\", name: \"Some
        other name\", invalid_field: \"test\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"76901817d5f2cd8ac064956a745a949b"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Field ''update_folder'' doesn''t accept argument
        ''invalid_field''","locations":[{"line":1,"column":72}],"path":["mutation","update_folder","invalid_field"],"extensions":{"code":"argumentNotAccepted","name":"update_folder","typeName":"Field","argumentName":"invalid_field"}}],"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:05 GMT
recorded_with: VCR 6.2.0
