---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"5adb51710a670d63ab9096155d2e1c7f"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7092810502","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:59:10 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"7092810502\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"f667ee1ee4ed3ea7d9f3b4010d999387"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"7092810547","name":"Test Item","created_at":"2024-07-25T03:59:15Z"}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:59:11 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_subitem(parent_item_id: \"7092810547\", item_name:
        \"New Item Test\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"008d376764a81bc8f586d4f52cd46080"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_subitem":{"id":"7092810615","name":"New Item Test","created_at":"2024-07-25T03:59:18Z"}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:59:15 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items(ids: \"7092810547\"){ subitems{id name created_at}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"73951138a714dbdd90a7f10917c5c6f1"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"subitems":[{"id":"7092810615","name":"New Item
        Test","created_at":"2024-07-25T03:59:18Z"}]}]},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:59:16 GMT
recorded_with: VCR 6.2.0
