---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"989c160d58439ecb962ed46ff9574309"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7085070952","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 07:37:05 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"7085070952\", group_name:
        \"Returned orders\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"8c8c129a4a8c3b803fe6acdde85bf247"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"returned_orders__1","title":"Returned
        orders"}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 07:37:06 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{update_group(board_id: \"7085070952\", group_id:
        \"returned_orders__1\", group_attribute: \"title\", new_value: \"Voided orders\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"ef62d10d349dda0be8f53cbbdb1f4e2e"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Argument ''group_attribute'' on Field ''update_group''
        has an invalid value (\"title\"). Expected type ''GroupAttributes!''.","locations":[{"line":1,"column":10}],"path":["mutation","update_group","group_attribute"],"extensions":{"code":"argumentLiteralsIncompatible","typeName":"Field","argumentName":"group_attribute"}}],"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 07:37:06 GMT
recorded_with: VCR 6.2.0
