---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Update Invalid Test\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267380917","name":"Update Invalid
        Test","description":null}},"extensions":{"request_id":"21b88c81-9b74-91bd-9ba9-debfd09f3449"}}'
  recorded_at: Fri, 24 Oct 2025 21:04:37 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18267380917\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx1vs3t","title":"Test Group"}},"extensions":{"request_id":"31e729ff-88a3-9c55-9925-ee3d95d5a1ba"}}'
  recorded_at: Fri, 24 Oct 2025 21:04:38 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{update_group(board_id: \"18267380917\", group_id:
        \"group_mkx1vs3t\", group_attribute: \"title\", new_value: \"Voided orders\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Enum \"GroupAttributes\" cannot represent non-enum
        value: \"title\". Did you mean the enum value \"title\"?","locations":[{"line":1,"column":93}]}],"extensions":{"request_id":"0a987412-13f8-9ee3-9e5c-7efd06e1012c"}}'
  recorded_at: Fri, 24 Oct 2025 21:04:38 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267380917){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267380917"}},"extensions":{"request_id":"76817753-0b2a-96b3-a685-5e9ea528a15d"}}'
  recorded_at: Fri, 24 Oct 2025 21:04:39 GMT
recorded_with: VCR 6.3.1
