---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"e86009df0a4985c946fde6b75f2c292f"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7085136307","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 07:57:22 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"7085136307\", group_name:
        \"Returned orders\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"8c8c129a4a8c3b803fe6acdde85bf247"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"returned_orders__1","title":"Returned
        orders"}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 07:57:23 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{archive_group(board_id: \"7085136307\", group_id:
        \"returned_orders__1\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"ad5bd6e1524fc60ca11fb1dd81cf27ab"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"archive_group":{"id":"returned_orders__1"}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 07:57:25 GMT
recorded_with: VCR 6.2.0
