---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_workspace(name: \"Test Workspace\", kind:
        open){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"c25e4629230ccf18ac3b0c185cb21cde"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_workspace":{"id":"8529961","name":"Test Workspace","description":null}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:07 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_folder(workspace_id: \"8529961\", name: \"Database
        boards\"){id name}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"22a3f9a3beb3957912e15ed5f1161647"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_folder":{"id":"15476754","name":"Database boards"}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:08 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_folder(folder_id: \"15476754\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"2d8cf67dfa2ae6ff584609a5b896c5a8"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_folder":{"id":"15476754"}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:08 GMT
recorded_with: VCR 6.2.0
