---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273214061","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"b25da9dc-333d-95a2-8083-551444d3298f"}}'
  recorded_at: Mon, 27 Oct 2025 01:32:46 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18273214061\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx4zz6m","title":"Test Group"}},"extensions":{"request_id":"1784f049-a722-9517-8a57-82882745efd4"}}'
  recorded_at: Mon, 27 Oct 2025 01:32:47 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273214061\", group_id:
        \"group_mkx4zz6m\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273214155","name":"Test Item 1","created_at":"2025-10-27T01:32:47Z"}},"extensions":{"request_id":"b0de8fc3-a1f5-9304-badc-816bd51ad722"}}'
  recorded_at: Mon, 27 Oct 2025 01:32:48 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273214061\"]){groups(ids: [\"group_mkx4zz6m\"]){items_page(limit:
        10){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI3MzIxNDA2MSxFMWFmbU5aTU01bHJSdHNVb3JSdHEsMTIsMTAsZ3JvdXBfbWt4NHp6Nm18MjQ0MDIwNTIzMQ","items":[{"id":"18273214155","name":"Test
        Item 1"},{"id":"18273214187","name":"Test Item 2"},{"id":"18273214226","name":"Test
        Item 3"},{"id":"18273214263","name":"Test Item 4"},{"id":"18273214298","name":"Test
        Item 5"},{"id":"18273214332","name":"Test Item 6"},{"id":"18273214429","name":"Test
        Item 7"},{"id":"18273214539","name":"Test Item 8"},{"id":"18273214650","name":"Test
        Item 9"},{"id":"18273214757","name":"Test Item 10"}]}}]}]},"extensions":{"request_id":"0a4347ea-33d2-9058-bb73-89e399da5219"}}'
  recorded_at: Mon, 27 Oct 2025 01:32:59 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273214061){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273214061"}},"extensions":{"request_id":"b348a272-359e-97b9-9cb9-f9cca06bfe1e"}}'
  recorded_at: Mon, 27 Oct 2025 01:33:00 GMT
recorded_with: VCR 6.3.1
