---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273585243","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"c23221c0-e7e4-985e-82f0-c20b7e323001"}}'
  recorded_at: Mon, 27 Oct 2025 03:32:14 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18273585243\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx4vpwm","title":"Test Group"}},"extensions":{"request_id":"3b5dde7c-8b1f-9e4c-ac29-e01e257d2f01"}}'
  recorded_at: Mon, 27 Oct 2025 03:32:15 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273585243\", group_id:
        \"group_mkx4vpwm\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273585498","name":"Test Item 1","created_at":"2025-10-27T03:32:15Z"}},"extensions":{"request_id":"09a2fb1c-1840-9c58-aab2-53eb4b54a6d0"}}'
  recorded_at: Mon, 27 Oct 2025 03:32:16 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273585243\"]){groups(ids: [\"group_mkx4vpwm\"]){items_page(limit:
        10){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI3MzU4NTI0Myw0ZnFmX3VjbGxkOTItaExORktCajIsMTIsMTAsZ3JvdXBfbWt4NHZwd218Mjk2MDI1NTEy","items":[{"id":"18273585498","name":"Test
        Item 1"},{"id":"18273585599","name":"Test Item 2"},{"id":"18273585684","name":"Test
        Item 3"},{"id":"18273585740","name":"Test Item 4"},{"id":"18273585779","name":"Test
        Item 5"},{"id":"18273585813","name":"Test Item 6"},{"id":"18273585838","name":"Test
        Item 7"},{"id":"18273585882","name":"Test Item 8"},{"id":"18273585919","name":"Test
        Item 9"},{"id":"18273585947","name":"Test Item 10"}]}}]}]},"extensions":{"request_id":"fd8e52e1-f3ff-9aec-9ef2-a27b1d06f9a9"}}'
  recorded_at: Mon, 27 Oct 2025 03:32:27 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273585243){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273585243"}},"extensions":{"request_id":"2d941119-32d1-94d4-b1d9-574f47d4c962"}}'
  recorded_at: Mon, 27 Oct 2025 03:32:28 GMT
recorded_with: VCR 6.3.1
