---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273588567","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"6c9a63ca-f1de-98b7-b657-6a711a35b0b0"}}'
  recorded_at: Mon, 27 Oct 2025 03:33:45 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18273588567\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx4fwaj","title":"Test Group"}},"extensions":{"request_id":"8dc44786-37c1-9213-ac73-f47e254c39a3"}}'
  recorded_at: Mon, 27 Oct 2025 03:33:46 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273588567\", group_id:
        \"group_mkx4fwaj\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273588629","name":"Test Item 1","created_at":"2025-10-27T03:33:47Z"}},"extensions":{"request_id":"4a86cb60-bfb5-9d94-ab33-9b2d4a4ae576"}}'
  recorded_at: Mon, 27 Oct 2025 03:33:47 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273588567\"]){groups(ids: [\"group_mkx4fwaj\"]){items_page(limit:
        10){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI3MzU4ODU2NyxWSmhqUE0yYVQ2bzk2MkIyak9Dbm4sMTIsMTAsZ3JvdXBfbWt4NGZ3YWp8MzQwNjY5OTQ0MA","items":[{"id":"18273588629","name":"Test
        Item 1"},{"id":"18273588649","name":"Test Item 2"},{"id":"18273588678","name":"Test
        Item 3"},{"id":"18273588698","name":"Test Item 4"},{"id":"18273588719","name":"Test
        Item 5"},{"id":"18273588738","name":"Test Item 6"},{"id":"18273588763","name":"Test
        Item 7"},{"id":"18273588783","name":"Test Item 8"},{"id":"18273588808","name":"Test
        Item 9"},{"id":"18273588832","name":"Test Item 10"}]}}]}]},"extensions":{"request_id":"446278ba-9fe6-93fe-a937-d8b7519a944e"}}'
  recorded_at: Mon, 27 Oct 2025 03:33:58 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273588567){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273588567"}},"extensions":{"request_id":"3d80f411-a5a0-9b7e-b80a-5647e3a8a523"}}'
  recorded_at: Mon, 27 Oct 2025 03:33:59 GMT
recorded_with: VCR 6.3.1
