/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# IDE files
.vscode

# rspec failure tracking
.rspec_status

Gemfile.lock

.byebug_history

.ruby-version
.ruby-gemset

test.rb

# Ignore the build file
*.gem

# VitePress documentation
/docs/node_modules/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
