---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_workspace(workspace_id: 123){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"6bf7e35305f78614ff16b56643312833"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"error_message":"The workspace does not exist. Please check your workspace
        ID and try again","error_code":"InvalidWorkspaceIdException","error_data":{"workspace_id":123},"status_code":200,"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 08:09:55 GMT
recorded_with: VCR 6.2.0
