---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_workspace(name: \"Test Workspace\", kind:
        open){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"3f0146ac8b6ff02d8f0a14b872f162b5"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_workspace":{"id":"8529963","name":"Test Workspace","description":null}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:11 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_folder(workspace_id: \"8529963\", name: \"Database
        boards\"){id name}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"3430eec2d8ad7298b8a8a467b0d534b8"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_folder":{"id":"15476756","name":"Database boards"}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:11 GMT
recorded_with: VCR 6.2.0
