---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"2592ce87c8df148bae1e30f9e337127a"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7084899110","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 06:52:02 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_column(board_id: \"7084899110\", title: \"Status\",
        description: \"Status Column\", column_type: status){id title description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"a6e881e6e6e204047796a82c47639dd3"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_column":{"id":"status__1","title":"Status","description":"Status
        Column"}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 06:52:03 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"7084899110\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"e38b6d789eee02858cf74dcf84244b01"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"7084899216","name":"Test Item","created_at":"2024-07-24T06:52:04Z"}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 06:52:05 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{change_multiple_column_values(board_id: \"7084899110\",
        item_id: \"7084899216\", column_values: \"{\\\"status__1\\\":{\\\"label\\\":\\\"Done\\\"}}\"){id
        name}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"6b157cf8c85563f89d561c96dcef14f5"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"change_multiple_column_values":{"id":"7084899216","name":"Test
        Item"}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 06:52:06 GMT
recorded_with: VCR 6.2.0
