---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267761108","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"7d8c6d63-9ccf-948a-96b3-de489771005e"}}'
  recorded_at: Fri, 24 Oct 2025 22:19:50 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18267761108\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx1dp8w","title":"Test Group"}},"extensions":{"request_id":"0cc72d8f-92b6-9cbc-b40d-5c1678815144"}}'
  recorded_at: Fri, 24 Oct 2025 22:19:51 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18267761108\", group_id:
        \"group_mkx1dp8w\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18267761362","name":"Test Item 1","created_at":"2025-10-24T22:19:51Z"}},"extensions":{"request_id":"449a24cc-633a-97f4-a3de-f280c9b7c545"}}'
  recorded_at: Fri, 24 Oct 2025 22:19:52 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18267761108\"]){groups(ids: [\"group_mkx1dp8w\"]){items_page(limit:
        5){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI2Nzc2MTEwOCxmZUdGLWZSbm5NZ1RiRDVmTGVwd24sMTIsNSxncm91cF9ta3gxZHA4d3w0MTg0OTg0MDQ2","items":[{"id":"18267761362","name":"Test
        Item 1"},{"id":"18267761492","name":"Test Item 2"},{"id":"18267761601","name":"Test
        Item 3"},{"id":"18267761706","name":"Test Item 4"},{"id":"18267761805","name":"Test
        Item 5"}]}}]}]},"extensions":{"request_id":"c1024ea1-3b68-9e88-a130-c9a15b93cc7b"}}'
  recorded_at: Fri, 24 Oct 2025 22:20:06 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267761108){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267761108"}},"extensions":{"request_id":"b1fffaee-5dcc-9393-825e-14f30b519e90"}}'
  recorded_at: Fri, 24 Oct 2025 22:20:07 GMT
recorded_with: VCR 6.3.1
