---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267739117","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"a7aa3fad-0295-9db4-92fb-df309ee6db0f"}}'
  recorded_at: Fri, 24 Oct 2025 22:16:23 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18267739117\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx1yhvt","title":"Test Group"}},"extensions":{"request_id":"d71a23e2-6077-936b-9123-2a31b01968f6"}}'
  recorded_at: Fri, 24 Oct 2025 22:16:24 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18267739117\", group_id:
        \"group_mkx1yhvt\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18267739379","name":"Test Item 1","created_at":"2025-10-24T22:16:24Z"}},"extensions":{"request_id":"30327253-6389-99af-b068-340379ad807b"}}'
  recorded_at: Fri, 24 Oct 2025 22:16:25 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18267739117\"]){groups(ids: [\"group_mkx1yhvt\"]){items_page(limit:
        5){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI2NzczOTExNyw1U2VsejRuWUJONUlZX1VvXzl4QzEsMTIsNSxncm91cF9ta3gxeWh2dHwyNjczODUyNjgz","items":[{"id":"18267739379","name":"Test
        Item 1"},{"id":"18267739476","name":"Test Item 2"},{"id":"18267739569","name":"Test
        Item 3"},{"id":"18267739674","name":"Test Item 4"},{"id":"18267739767","name":"Test
        Item 5"}]}}]}]},"extensions":{"request_id":"354416b6-6c2d-946f-a709-da05ce87f25a"}}'
  recorded_at: Fri, 24 Oct 2025 22:16:36 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267739117){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267739117"}},"extensions":{"request_id":"977fac89-4f38-9344-a8b7-610dec83a983"}}'
  recorded_at: Fri, 24 Oct 2025 22:16:38 GMT
recorded_with: VCR 6.3.1
