---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267747231","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"f76ffc43-5610-9934-b02a-501cc5e4f50d"}}'
  recorded_at: Fri, 24 Oct 2025 22:17:54 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18267747231\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx14nyd","title":"Test Group"}},"extensions":{"request_id":"9dc52372-fe3c-9337-a5e9-49c63ede6f64"}}'
  recorded_at: Fri, 24 Oct 2025 22:17:55 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18267747231\", group_id:
        \"group_mkx14nyd\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18267747329","name":"Test Item 1","created_at":"2025-10-24T22:17:56Z"}},"extensions":{"request_id":"882ab9f9-c63e-9a23-9afe-e25620ddc7a1"}}'
  recorded_at: Fri, 24 Oct 2025 22:17:56 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18267747231\"]){groups(ids: [\"group_mkx14nyd\"]){items_page(limit:
        5){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI2Nzc0NzIzMSxJVWprOEhDRk1HWnFjV1dRRy1ob04sMTIsNSxncm91cF9ta3gxNG55ZHwzNzYyOTU3MDky","items":[{"id":"18267747329","name":"Test
        Item 1"},{"id":"18267747381","name":"Test Item 2"},{"id":"18267747426","name":"Test
        Item 3"},{"id":"18267747474","name":"Test Item 4"},{"id":"18267747521","name":"Test
        Item 5"}]}}]}]},"extensions":{"request_id":"0d4bb079-6edc-98e7-a91c-b8961bb1bda1"}}'
  recorded_at: Fri, 24 Oct 2025 22:18:08 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267747231){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267747231"}},"extensions":{"request_id":"6c94672e-0afa-9c98-8725-1fee3d3d1fce"}}'
  recorded_at: Fri, 24 Oct 2025 22:18:09 GMT
recorded_with: VCR 6.3.1
