---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Pagination Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273598593","name":"Pagination Test
        Board","description":null}},"extensions":{"request_id":"ac005ccc-7aae-9635-a11d-c066845f64d7"}}'
  recorded_at: Mon, 27 Oct 2025 03:38:45 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273598593\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18273598606","name":"Task
        1"}]}}]},"extensions":{"request_id":"687a6613-738d-9457-a3ec-a19a917205c7"}}'
  recorded_at: Mon, 27 Oct 2025 03:38:46 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273598593\", item_name:
        \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273598654","name":"Test Item 1","created_at":"2025-10-27T03:38:47Z"}},"extensions":{"request_id":"a443eb0c-3aea-994a-a7b9-2abe6a083620"}}'
  recorded_at: Mon, 27 Oct 2025 03:38:47 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items_page_by_column_values(board_id: 18273598593,
        limit: 1, columns: [{column_id: \"name\", column_values: [\"Test Item 1\",
        \"Test Item 2\", \"Test Item 3\"]}]){cursor items{id name}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items_page_by_column_values":{"cursor":"MSwxODI3MzU5ODU5MyxvdWp4aGpXSUdPbVZzN3JReHJvWFgsMywxLHw0MDY1OTIwMjEy","items":[{"id":"18273598654","name":"Test
        Item 1"}]}},"extensions":{"request_id":"be8594f1-7088-9e88-92dc-8be287aaad4e"}}'
  recorded_at: Mon, 27 Oct 2025 03:39:02 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273598593){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273598593"}},"extensions":{"request_id":"5162687e-a41c-93f5-9680-2fb998ec104e"}}'
  recorded_at: Mon, 27 Oct 2025 03:39:03 GMT
recorded_with: VCR 6.3.1
