---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Pagination Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273477802","name":"Pagination Test
        Board","description":null}},"extensions":{"request_id":"3a54cefd-b29b-9226-9628-9a9c9f0e9425"}}'
  recorded_at: Mon, 27 Oct 2025 02:55:07 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273477802\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18273477813","name":"Task
        1"}]}}]},"extensions":{"request_id":"b1a3615c-c4ae-944a-9bfa-2280d49fd579"}}'
  recorded_at: Mon, 27 Oct 2025 02:55:08 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273477802\", item_name:
        \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273477851","name":"Test Item 1","created_at":"2025-10-27T02:55:08Z"}},"extensions":{"request_id":"08eeead4-01f3-9459-8811-b11172db37aa"}}'
  recorded_at: Mon, 27 Oct 2025 02:55:09 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items_page_by_column_values(board_id: 18273477802,
        limit: 1, columns: [{column_id: \"name\", column_values: [\"Test Item 1\",
        \"Test Item 2\", \"Test Item 3\"]}]){cursor items{id name}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items_page_by_column_values":{"cursor":"MSwxODI3MzQ3NzgwMiw3eUtQR2taQ2E5VEtudjMtQUV4MlIsMywxLHwxNDI5MDE5NjA5","items":[{"id":"18273477851","name":"Test
        Item 1"}]}},"extensions":{"request_id":"0b0c41c6-a253-9976-84ea-44afe2b5b8c9"}}'
  recorded_at: Mon, 27 Oct 2025 02:55:23 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273477802){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273477802"}},"extensions":{"request_id":"24ebf862-30b0-9bea-a9b1-2ce4c69ba9ae"}}'
  recorded_at: Mon, 27 Oct 2025 02:55:25 GMT
recorded_with: VCR 6.3.1
