---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{archive_item(item_id: 123){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"archive_item":null},"errors":[{"message":"Item not found","locations":[{"line":1,"column":12}],"path":["archive_item"],"extensions":{"code":"InvalidItemIdException","status_code":200,"error_data":{"item_id":123},"service":"monolith"}}],"extensions":{"request_id":"3a114802-d5ca-945c-a91d-752bf25798fc"}}'
  recorded_at: Mon, 27 Oct 2025 02:22:16 GMT
recorded_with: VCR 6.3.1
