---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"051609f193df68b0d444d6c43d22ded5"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"6976608803","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:38:36 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{update_board(board_id: \"6976608803\", board_attribute:
        description, new_value: \"New description\")}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"32a1c359faec22a23c348ef902951ca2"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"update_board":"{\"success\":true,\"undo_data\":{\"undo_record_id\":\"6552eacd-d981-49f9-af5d-4d7cc836efb2\",\"action_type\":\"modify_project\",\"entity_type\":\"Board\",\"entity_id\":6976608803,\"count\":1}}"},"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:38:36 GMT
recorded_with: VCR 6.2.0
