---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Update Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18265861571","name":"Update Test Board","description":null}},"extensions":{"request_id":"143beddc-5eb8-9b06-86a6-ac93a55b4f49"}}'
  recorded_at: Fri, 24 Oct 2025 18:11:02 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18265861571\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18265861612","name":"Task
        1"}]}}]},"extensions":{"request_id":"efd6fe95-4f5c-9d98-babd-631b963f0369"}}'
  recorded_at: Fri, 24 Oct 2025 18:11:03 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_item(item_id: 18265861612){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_item":{"id":"18265861612"}},"extensions":{"request_id":"d6068724-ba81-9eac-baf3-2b3f0c3e5a0c"}}'
  recorded_at: Fri, 24 Oct 2025 18:11:04 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{update_board(board_id: \"18265861571\", board_attribute:
        description, new_value: \"New description\")}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"update_board":"{\"success\":true,\"undo_data\":{\"undo_record_id\":\"008b756a-23d5-4086-9f24-32c42c9d7aac\",\"action_type\":\"modify_project\",\"entity_type\":\"Board\",\"entity_id\":18265861571,\"count\":1}}"},"extensions":{"request_id":"38f0f018-4bf7-92a1-8a55-283d83c999f0"}}'
  recorded_at: Fri, 24 Oct 2025 18:11:05 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18265861571){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18265861571"}},"extensions":{"request_id":"fdbf3699-a20d-9c7d-8dd8-7594e1ec9538"}}'
  recorded_at: Fri, 24 Oct 2025 18:11:06 GMT
recorded_with: VCR 6.3.1
