---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"f77daab1a854b884356dc4cd795662f4"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7077979104","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Tue, 23 Jul 2024 12:53:29 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_column(board_id: \"7077979104\", title: \"Status\",
        description: \"Status Column\", column_type: status){id title description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"a6e881e6e6e204047796a82c47639dd3"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_column":{"id":"status__1","title":"Status","description":"Status
        Column"}},"account_id":24308083}'
  recorded_at: Tue, 23 Jul 2024 12:53:31 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"7077979104\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"7f783b27c11a1b87fec6d4ca945e9e10"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"7077979918","name":"Test Item","created_at":"2024-07-23T12:53:31Z"}},"account_id":24308083}'
  recorded_at: Tue, 23 Jul 2024 12:53:34 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{change_simple_column_value(board_id: \"7077979104\",
        item_id: \"7077979918\", column_id: \"status__1\", value: \"Working on it\"){id
        name}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"d2bfaf36d70edc367c233d0790d7ee17"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"change_simple_column_value":{"id":"7077979918","name":"Test
        Item"}},"account_id":24308083}'
  recorded_at: Tue, 23 Jul 2024 12:53:42 GMT
recorded_with: VCR 6.2.0
