---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Delete Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273393674","name":"Delete Test Board","description":null}},"extensions":{"request_id":"b9e54baa-1af5-9398-a113-415d8434a504"}}'
  recorded_at: Mon, 27 Oct 2025 02:24:51 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273393674\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273393762","name":"Test Item","created_at":"2025-10-27T02:24:52Z"}},"extensions":{"request_id":"3b15e6e4-6413-9b16-aeba-db38e458b2cc"}}'
  recorded_at: Mon, 27 Oct 2025 02:24:52 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_item(item_id: 18273393762){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_item":{"id":"18273393762"}},"extensions":{"request_id":"62368305-e041-9b34-9bcc-18f5173fef7b"}}'
  recorded_at: Mon, 27 Oct 2025 02:24:54 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273393674){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273393674"}},"extensions":{"request_id":"e41083e0-2df0-9ebe-a59f-041ac507b425"}}'
  recorded_at: Mon, 27 Oct 2025 02:24:55 GMT
recorded_with: VCR 6.3.1
