---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273167908","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"cbbbf5f1-5b34-95ee-ad1b-d0665ef983dd"}}'
  recorded_at: Mon, 27 Oct 2025 01:22:46 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18273167908\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx4waxt","title":"Test Group"}},"extensions":{"request_id":"f2760c3d-ce14-9bef-a247-539c52a72e70"}}'
  recorded_at: Mon, 27 Oct 2025 01:22:47 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273167908\", group_id:
        \"group_mkx4waxt\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273168153","name":"Test Item 1","created_at":"2025-10-27T01:22:47Z"}},"extensions":{"request_id":"e8382aeb-0893-96bd-a3e0-bca01d491dd7"}}'
  recorded_at: Mon, 27 Oct 2025 01:22:48 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273167908\"]){groups(ids: [\"group_mkx4waxt\"]){items_page(limit:
        3){cursor items{id name state created_at}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI3MzE2NzkwOCxlOFhQS3pTTjF6WXZnekUtdHh5R28sMTIsMyxncm91cF9ta3g0d2F4dHwxMjMxNzI2ODk1","items":[{"id":"18273168153","name":"Test
        Item 1","state":"active","created_at":"2025-10-27T01:22:47Z"},{"id":"18273168251","name":"Test
        Item 2","state":"active","created_at":"2025-10-27T01:22:48Z"},{"id":"18273168352","name":"Test
        Item 3","state":"active","created_at":"2025-10-27T01:22:49Z"}]}}]}]},"extensions":{"request_id":"c2f2e75f-9782-9dd5-b540-41431dcae906"}}'
  recorded_at: Mon, 27 Oct 2025 01:22:59 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273167908){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273167908"}},"extensions":{"request_id":"19e7a166-909d-9195-a8d1-d8ea8f6d0c66"}}'
  recorded_at: Mon, 27 Oct 2025 01:23:00 GMT
recorded_with: VCR 6.3.1
