---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{folders{id name}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"c407e74c1a39eba6cd0242f963afb49f"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"folders":[{"id":"10918734","name":"LE Development Team"},{"id":"10977318","name":"CRM"},{"id":"11061563","name":"LB"},{"id":"12772091","name":"Projects"},{"id":"12774555","name":"Meetings"},{"id":"13019652","name":"1836"},{"id":"13145433","name":"Database"},{"id":"13145448","name":"Workspace"},{"id":"13155563","name":"Job
        Flow"},{"id":"13156741","name":"Reporting"},{"id":"13156743","name":"Other"},{"id":"13157369","name":"Reports"},{"id":"13177585","name":"Rentvine"},{"id":"13190752","name":"RentVine
        Sync"},{"id":"13201660","name":"Documentation"},{"id":"13214161","name":"Sandbox"},{"id":"13263615","name":"Finance"},{"id":"13999355","name":"zDatabase"},{"id":"13999356","name":"Workspace"},{"id":"13999554","name":"Database"},{"id":"13999560","name":"Workflows"},{"id":"14098003","name":"LaunchEngine"},{"id":"14219791","name":"Dashboards"},{"id":"14220129","name":"Documentation"},{"id":"14220141","name":"LaunchEngine"}]},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:00:59 GMT
recorded_with: VCR 6.2.0
