---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_workspace(name: \"Test Workspace\", kind:
        open){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"0afbc6acd17df7a6ebf6abb29d097855"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_workspace":{"id":"8529964","name":"Test Workspace","description":null}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:11 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_folder(workspace_id: \"8529964\", name: \"Database
        boards\", invalid_field: \"test\"){id name}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"765ea6a36319cb93e081062156e003b5"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Field ''create_folder'' doesn''t accept argument
        ''invalid_field''","locations":[{"line":1,"column":74}],"path":["mutation","create_folder","invalid_field"],"extensions":{"code":"argumentNotAccepted","name":"create_folder","typeName":"Field","argumentName":"invalid_field"}}],"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:12 GMT
recorded_with: VCR 6.2.0
