---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"91cfe6ec9544afa486f999d6fb0491db"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"6976619220","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:45:08 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_column(board_id: \"6976619220\", title: \"Test
        Column\", column_type: text){id title description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"f560544f2a4fbcf666f3d91deecd982c"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_column":{"id":"test_column__1","title":"Test Column","description":null}},"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:45:08 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards{columns{invalid_field}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"f37a48b00f2da252f38156c38a140f3d"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Field ''invalid_field'' doesn''t exist on type
        ''Column''","locations":[{"line":1,"column":22}],"path":["query","boards","columns","invalid_field"],"extensions":{"code":"undefinedField","typeName":"Column","fieldName":"invalid_field"}}],"account_id":24308083}'
  recorded_at: Sun, 07 Jul 2024 14:45:08 GMT
recorded_with: VCR 6.2.0
