---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Pagination Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18266015198","name":"Pagination Test
        Board","description":null}},"extensions":{"request_id":"05319831-9192-9284-ad3e-7396cb5c718f"}}'
  recorded_at: Fri, 24 Oct 2025 18:30:07 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18266015198\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18266015267","name":"Task
        1"}]}}]},"extensions":{"request_id":"511bb70a-b108-960b-b9e3-38f8f404cb49"}}'
  recorded_at: Fri, 24 Oct 2025 18:30:08 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18266015198\", item_name:
        \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18266015656","name":"Test Item 1","created_at":"2025-10-24T18:30:08Z"}},"extensions":{"request_id":"b4827a4c-5cae-9d2a-a0d6-51c22524d5bf"}}'
  recorded_at: Fri, 24 Oct 2025 18:30:09 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18266015198\"]){items_page(limit: 3){cursor
        items{id name state created_at}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":"MSwxODI2NjAxNTE5OCxGLVBmVWlqYWJjSk1MeWoyLXBybncsMTMsMyx8MzI3MjI3MzU0MQ","items":[{"id":"18266015267","name":"Task
        1","state":"active","created_at":"2025-10-24T18:30:06Z"},{"id":"18266015656","name":"Test
        Item 1","state":"active","created_at":"2025-10-24T18:30:09Z"},{"id":"18266015806","name":"Test
        Item 2","state":"active","created_at":"2025-10-24T18:30:10Z"}]}}]},"extensions":{"request_id":"acec7735-10d0-9534-9570-d33d2443353f"}}'
  recorded_at: Fri, 24 Oct 2025 18:30:23 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18266015198){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18266015198"}},"extensions":{"request_id":"5ce9a05c-e8e6-96b6-8625-c8295097700e"}}'
  recorded_at: Fri, 24 Oct 2025 18:30:24 GMT
recorded_with: VCR 6.3.1
