---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards{groups{id title}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"topics","title":"Group
        Title"}]},{"groups":[{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"topics","title":"Subitems"}]},{"groups":[{"id":"topics","title":"Group
        Title"}]},{"groups":[{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"group_mkx1x1sg","title":"Returned
        orders"},{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"group_mkx1j78j","title":"Returned
        orders"},{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"topics","title":"Group
        Title"}]},{"groups":[{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"topics","title":"Group
        Title"}]},{"groups":[{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"topics","title":"Group
        Title"}]},{"groups":[{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"topics","title":"Group
        Title"}]},{"groups":[{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"topics","title":"Group
        Title"}]},{"groups":[{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"topics","title":"Group
        Title"}]},{"groups":[{"id":"topics","title":"Group Title"}]},{"groups":[{"id":"group_mkwxm1kr","title":"Group
        C"},{"id":"group_mkwxcykb","title":"Group B"},{"id":"group_mkwxqme2","title":"Group
        A"},{"id":"topics","title":"Group Title"}]}]},"extensions":{"request_id":"ae82fd7a-cf77-9836-aa09-f4fe3f47d078"}}'
  recorded_at: Fri, 24 Oct 2025 20:58:28 GMT
recorded_with: VCR 6.3.1
