---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation { create_group(board_id: 4408896541, group_name:
        \"TEST GROUP\") {id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2023-07
      Etag:
      - W/"300ea1f1ea9ac1a00f9da1ab5efba900"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"test_group48823","title":"TEST GROUP"}},"account_id":15314314}'
  recorded_at: Fri, 22 Sep 2023 02:11:43 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation { duplicate_group(board_id: 4408896541, group_id:
        test_group48823) {id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2023-07
      Etag:
      - W/"732537bf944ee38503c882dd253a5894"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"duplicate_group":{"id":"duplicate_of_test_group27693","title":"Duplicate
        of TEST GROUP"}},"extensions":{"warnings":[{"message":"Support for passing
        Enum Value as String is going to be removed in 2023-10","locations":[{"line":1,"column":60}],"path":[],"extensions":{"code":"deprecatedBehavior"}}]},"account_id":15314314}'
  recorded_at: Fri, 22 Sep 2023 02:11:43 GMT
recorded_with: VCR 6.2.0
