---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation { change_column_value(board_id: \"123\", item_id:
        \"123\", column_id: \"file_123xyz\", value: \"{\\\"clear_all\\\": true}\")
        {id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"change_column_value":null},"errors":[{"message":"The board
        does not exist. Please check your board ID and try again","locations":[{"line":1,"column":12}],"path":["change_column_value"],"extensions":{"code":"InvalidBoardIdException","status_code":200,"error_data":{"board_id":123},"service":"monolith"}}],"extensions":{"request_id":"4fb13b18-847e-9292-8cb9-8a86ece494f5"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:53 GMT
recorded_with: VCR 6.2.0
