---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"8fb06c2829d5c7370bf0f9cdceb559ea"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7077822873","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Tue, 23 Jul 2024 12:36:02 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_column(board_id: \"7077822873\", title: \"Status\",
        description: \"Status Column\", column_type: status){id title description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"a6e881e6e6e204047796a82c47639dd3"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_column":{"id":"status__1","title":"Status","description":"Status
        Column"}},"account_id":24308083}'
  recorded_at: Tue, 23 Jul 2024 12:36:03 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"7077822873\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"23732cf4cbb7b2ed31d3b7e504b62b0b"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"7077823417","name":"Test Item","created_at":"2024-07-23T12:36:05Z"}},"account_id":24308083}'
  recorded_at: Tue, 23 Jul 2024 12:36:05 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{change_column_value(board_id: \"7077822873\", item_id:
        \"7077823417\", column_id: \"status__1\", value: \"{\\\"label\\\":\\\"Working
        on it\\\"}\"){id name}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"23dc075e7ea82c280c4328629778514e"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"change_column_value":{"id":"7077823417","name":"Test Item"}},"account_id":24308083}'
  recorded_at: Tue, 23 Jul 2024 12:36:06 GMT
recorded_with: VCR 6.2.0
