---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards{id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"id":"18265233744","name":"Second Board","description":null},{"id":"18265231179","name":"Pagination
        Test Board","description":null},{"id":"18265175352","name":"Second Board","description":null},{"id":"18265171829","name":"Pagination
        Test Board","description":null},{"id":"18265039399","name":"Pagination Test
        Board","description":null},{"id":"18264782976","name":"Update Test Board","description":null},{"id":"18264696633","name":"Duplicate
        Test Board","description":null},{"id":"18264022533","name":"Update Test Board","description":null},{"id":"18260607716","name":"Duplicate
        Test Board","description":null},{"id":"18260591366","name":"Archive Test Board","description":null},{"id":"18227692797","name":"Pagination
        Test Board 1760995084","description":null}]},"extensions":{"request_id":"5c10d7c5-f88a-9188-a42e-53b8100af008"}}'
  recorded_at: Fri, 24 Oct 2025 17:56:22 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Query Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18265730368","name":"Query Test Board","description":null}},"extensions":{"request_id":"97e8b257-50f5-9117-9644-a3e159493ea4"}}'
  recorded_at: Fri, 24 Oct 2025 17:56:24 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18265730368\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18265730448","name":"Task
        1"}]}}]},"extensions":{"request_id":"7d3a15ed-b549-964f-8279-e95bce704eb2"}}'
  recorded_at: Fri, 24 Oct 2025 17:56:25 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_item(item_id: 18265730448){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_item":{"id":"18265730448"}},"extensions":{"request_id":"5d35b2db-3754-9a4b-855f-b6b05c9b4f72"}}'
  recorded_at: Fri, 24 Oct 2025 17:56:27 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18265730368){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18265730368"}},"extensions":{"request_id":"737e4a77-d247-9ab8-bdb1-de7d77703637"}}'
  recorded_at: Fri, 24 Oct 2025 17:56:27 GMT
recorded_with: VCR 6.3.1
