---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"bea96244f4a79eea969eecc918c44da1"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7085120471","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 07:52:33 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"7085120471\", group_name:
        \"Returned orders\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"8c8c129a4a8c3b803fe6acdde85bf247"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"returned_orders__1","title":"Returned
        orders"}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 07:52:34 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{duplicate_group(board_id: \"7085120471\", group_id:
        \"returned_orders__1\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"0cdb73f8dc15ea53bd261f8112d44487"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"duplicate_group":{"id":"duplicate_of_returned_orders__1","title":"Duplicate
        of Returned orders"}},"account_id":24308083}'
  recorded_at: Wed, 24 Jul 2024 07:52:35 GMT
recorded_with: VCR 6.2.0
