---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query { workspaces() {id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2023-07
      Etag:
      - W/"a7ffee4a4a9e0a08c25e80e5c0e738dc"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"workspaces":[{"id":3230923,"name":"New test workspace","description":"A
        new test workspace"},{"id":3230922,"name":"New test workspace","description":"A
        new test workspace"},{"id":2717276,"name":"WorkForms","description":null},{"id":2656016,"name":"Multi
        Project","description":null},{"id":2656012,"name":"Full Product Development","description":null},{"id":2656009,"name":"New
        Workspace","description":null},{"id":2655992,"name":"LaunchEngine","description":null}]},"account_id":15314314}'
  recorded_at: Fri, 15 Sep 2023 22:19:40 GMT
recorded_with: VCR 6.2.0
