---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18383915530","name":"Test Board","description":null}},"extensions":{"request_id":"426fb5d1-c533-99fc-8c58-72e62a013e85"}}'
  recorded_at: Wed, 19 Nov 2025 02:15:53 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18383915530\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"10593197202","name":"Test Item","created_at":"2025-11-19T02:15:54Z"}},"extensions":{"request_id":"cde32a9c-21c5-941d-ae45-39e2e8e0e519"}}'
  recorded_at: Wed, 19 Nov 2025 02:15:54 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_column(board_id: \"18383915530\", title:
        \"Files\", description: \"Documents\", column_type: file){id title description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_column":{"id":"file_mkxvhkag","title":"Files","description":"Documents"}},"extensions":{"request_id":"1b0c9052-1bfd-99bc-adac-df396dfcc2c8"}}'
  recorded_at: Wed, 19 Nov 2025 02:15:55 GMT
- request:
    method: post
    uri: https://api.monday.com/v2/file
    body:
      encoding: ASCII-8BIT
      string: "----bd74ec85-6da2-4618-bb01-c3599067d2ed\r\nContent-Disposition: form-data;
        name=\"query\"\r\n\r\nmutation add_file($file: File!) {\n  add_file_to_column(item_id:
        \"10593197202\", column_id: \"file_mkxvhkag\", file: $file) {id}\n}\n\r\n----bd74ec85-6da2-4618-bb01-c3599067d2ed\r\nContent-Disposition:
        form-data; name=\"variables[file]\"\r\n\r\nsome_file_string\r\n----bd74ec85-6da2-4618-bb01-c3599067d2ed--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=--bd74ec85-6da2-4618-bb01-c3599067d2ed
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":500,"error_message":"Internal server error","error_code":"INTERNAL_SERVER_ERROR","errors":[{"message":"Internal
        server error","extensions":{"status_code":500,"error_code":"INTERNAL_SERVER_ERROR"}}]}'
  recorded_at: Wed, 19 Nov 2025 02:15:56 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18383915530){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18383915530"}},"extensions":{"request_id":"9de975b9-9bcc-9f7c-b5c3-67c8fc2b1e3c"}}'
  recorded_at: Wed, 19 Nov 2025 02:15:57 GMT
recorded_with: VCR 6.2.0
