---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"ebdb5f0426333f22c6f80f23ddc5f954"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7092742513","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:38:38 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"7092742513\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"467a11ae3f64a125aeffb0a3c4a37576"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"7092742620","name":"Test Item","created_at":"2024-07-25T03:38:43Z"}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:38:39 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_update(item_id: \"7092742620\", body: \"This
        update will be added to the item\"){id body created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"cbf6a6f72e2c4032b67cca5e286fefb3"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_update":{"id":"3325541732","body":"This update will
        be added to the item","created_at":"2024-07-25T03:38:44Z"}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:38:40 GMT
recorded_with: VCR 6.2.0
