---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"123\", item_name: \"Test
        Item\", column_values: \"{\\\"status__1\\\":{\\\"label\\\":\\\"Done\\\"}}\"){id
        name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":null},"errors":[{"message":"The board does not
        exist. Please check your board ID and try again","locations":[{"line":1,"column":12}],"path":["create_item"],"extensions":{"code":"InvalidBoardIdException","status_code":200,"error_data":{"board_id":123},"service":"monolith"}}],"extensions":{"request_id":"a1140124-ecb2-99b5-8638-ababc4a4ba59"}}'
  recorded_at: Mon, 27 Oct 2025 02:16:08 GMT
recorded_with: VCR 6.3.1
