---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267729305","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"dca6e307-5bbb-9c72-af8b-ba544dd979b4"}}'
  recorded_at: Fri, 24 Oct 2025 22:14:17 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18267729305\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx1y8zt","title":"Test Group"}},"extensions":{"request_id":"8bdecc44-5d08-9f86-984b-25a4cc476828"}}'
  recorded_at: Fri, 24 Oct 2025 22:14:18 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18267729305\", group_id:
        \"group_mkx1y8zt\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18267729398","name":"Test Item 1","created_at":"2025-10-24T22:14:19Z"}},"extensions":{"request_id":"1f3c8622-1997-92e8-98f5-a8242b6053e1"}}'
  recorded_at: Fri, 24 Oct 2025 22:14:19 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18267729305\"]){groups(ids: [\"group_mkx1y8zt\"]){items_page(limit:
        5){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI2NzcyOTMwNSxDd05rZjhxM1FpMXdrMlpNaWJLNnQsMTIsNSxncm91cF9ta3gxeTh6dHwzNDAwNjAzNzYy","items":[{"id":"18267729398","name":"Test
        Item 1"},{"id":"18267729427","name":"Test Item 2"},{"id":"18267729464","name":"Test
        Item 3"},{"id":"18267729549","name":"Test Item 4"},{"id":"18267729646","name":"Test
        Item 5"}]}}]}]},"extensions":{"request_id":"f215c4d1-e5cd-93b2-80ed-07c980e5bd38"}}'
  recorded_at: Fri, 24 Oct 2025 22:14:31 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267729305){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267729305"}},"extensions":{"request_id":"32967b66-f643-9cc3-91ad-8b2d23e0dc26"}}'
  recorded_at: Fri, 24 Oct 2025 22:14:32 GMT
recorded_with: VCR 6.3.1
