---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{archive_board(board_id: 123){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"archive_board":null},"errors":[{"message":"User unauthorized
        to perform action","locations":[{"line":1,"column":12}],"path":["archive_board"],"extensions":{"code":"USER_UNAUTHORIZED","status_code":403,"error_data":{},"service":"monolith"}}],"extensions":{"request_id":"705662be-2cae-9b03-8763-b852b649cd04"}}'
  recorded_at: Fri, 24 Oct 2025 16:24:38 GMT
recorded_with: VCR 6.3.1
