---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Duplicate Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18264740300","name":"Duplicate Test
        Board","description":null}},"extensions":{"request_id":"ed4e6e66-9147-94f6-82b5-a64e3e386bb1"}}'
  recorded_at: Fri, 24 Oct 2025 16:15:24 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{duplicate_board(board_id: \"18264740300\", duplicate_type:
        duplicate_board_with_structure){board{id name description}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"duplicate_board":{"board":{"id":"18264740621","name":"Duplicate
        of Duplicate Test Board","description":null}}},"extensions":{"request_id":"a45136ec-2c27-9be5-990f-c460d6ea7dd2"}}'
  recorded_at: Fri, 24 Oct 2025 16:15:26 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18264740300){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18264740300"}},"extensions":{"request_id":"5ff188ac-cb71-93b2-9dd3-4c6f73afdc26"}}'
  recorded_at: Fri, 24 Oct 2025 16:15:28 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18264740621){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18264740621"}},"extensions":{"request_id":"ef1918bd-e79e-9bf5-93a8-560a335a53a3"}}'
  recorded_at: Fri, 24 Oct 2025 16:15:28 GMT
recorded_with: VCR 6.3.1
