---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Move Item Test\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267691261","name":"Move Item Test","description":null}},"extensions":{"request_id":"130588a9-4a29-92a8-bbfa-3aeeda8bd7aa"}}'
  recorded_at: Fri, 24 Oct 2025 22:04:18 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18267691261\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx1p4sa","title":"Test Group"}},"extensions":{"request_id":"aed00c28-2ea7-93a2-9e9d-0fc4e0e14f14"}}'
  recorded_at: Fri, 24 Oct 2025 22:04:19 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18267691261\", group_id:
        \"group_mkx1p4sa\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18267691345","name":"Test Item 1","created_at":"2025-10-24T22:04:19Z"}},"extensions":{"request_id":"75474914-84e4-9afb-9c9d-717312ec8847"}}'
  recorded_at: Fri, 24 Oct 2025 22:04:20 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{move_item_to_group(item_id: \"18267691345\", group_id:
        \"invalid_group_id\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"move_item_to_group":null},"errors":[{"message":"Group not
        found","locations":[{"line":1,"column":12}],"path":["move_item_to_group"],"extensions":{"code":"ResourceNotFoundException","status_code":404,"error_data":{"resource_type":"group","group_id":"invalid_group_id","board_id":18267691261,"error_reason":"store.monday.automation.error.missing_group"},"service":"monolith"}}],"extensions":{"request_id":"6227f99a-7ba9-9041-b865-4505a3f8e28a"}}'
  recorded_at: Fri, 24 Oct 2025 22:04:20 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267691261){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267691261"}},"extensions":{"request_id":"0d6eaefa-4d54-9fc7-8c9d-9b9e7454b197"}}'
  recorded_at: Fri, 24 Oct 2025 22:04:21 GMT
recorded_with: VCR 6.3.1
