---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation { duplicate_item(board_id: 4691485686, item_id:
        123, with_updates: true) {id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2023-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"error_message":"Internal server error","status_code":500}'
  recorded_at: Mon, 10 Jul 2023 14:36:12 GMT
recorded_with: VCR 6.2.0
