---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267783023","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"6a73b041-a52a-9d9f-a300-054393999ed8"}}'
  recorded_at: Fri, 24 Oct 2025 22:22:29 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18267783023\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx18hz9","title":"Test Group"}},"extensions":{"request_id":"a9e07d85-077a-9466-8932-7e1eddd8eec9"}}'
  recorded_at: Fri, 24 Oct 2025 22:22:30 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18267783023\", group_id:
        \"group_mkx18hz9\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18267783273","name":"Test Item 1","created_at":"2025-10-24T22:22:31Z"}},"extensions":{"request_id":"42091f0c-91f0-91e0-aabc-438a4ff1fab6"}}'
  recorded_at: Fri, 24 Oct 2025 22:22:31 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18267783023\"]){groups(ids: [\"group_mkx18hz9\"]){items_page(limit:
        5){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI2Nzc4MzAyMyxfQTVsMDh2eExqU3AyVGo2MU5hRnUsMTIsNSxncm91cF9ta3gxOGh6OXwzODY1MjIxNTA4","items":[{"id":"18267783273","name":"Test
        Item 1"},{"id":"18267783374","name":"Test Item 2"},{"id":"18267783485","name":"Test
        Item 3"},{"id":"18267783587","name":"Test Item 4"},{"id":"18267783681","name":"Test
        Item 5"}]}}]}]},"extensions":{"request_id":"f90a0d2c-e12b-9b0b-9a5f-5ea80182fd81"}}'
  recorded_at: Fri, 24 Oct 2025 22:22:43 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267783023){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267783023"}},"extensions":{"request_id":"7bd2c9b5-4767-9f63-98d3-7cc20f0eeb67"}}'
  recorded_at: Fri, 24 Oct 2025 22:22:45 GMT
recorded_with: VCR 6.3.1
