---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267793977","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"7ee92027-8fa1-90c5-9419-ab69415a601c"}}'
  recorded_at: Fri, 24 Oct 2025 22:24:45 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18267793977\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx1aa2r","title":"Test Group"}},"extensions":{"request_id":"ed66b1c1-4531-9038-a2c6-61f195c408d2"}}'
  recorded_at: Fri, 24 Oct 2025 22:24:46 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18267793977\", group_id:
        \"group_mkx1aa2r\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18267794095","name":"Test Item 1","created_at":"2025-10-24T22:24:47Z"}},"extensions":{"request_id":"139e0d37-fc78-935e-890d-e762cca4cb4a"}}'
  recorded_at: Fri, 24 Oct 2025 22:24:48 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18267793977\"]){groups(ids: [\"group_mkx1aa2r\"]){items_page(limit:
        5){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI2Nzc5Mzk3NyxudnNfWHN0SW1wMUVaTGg4RlFtZjUsMTIsNSxncm91cF9ta3gxYWEycnwzMDUxMDQ3NjIx","items":[{"id":"18267794095","name":"Test
        Item 1"},{"id":"18267794153","name":"Test Item 2"},{"id":"18267794206","name":"Test
        Item 3"},{"id":"18267794260","name":"Test Item 4"},{"id":"18267794297","name":"Test
        Item 5"}]}}]}]},"extensions":{"request_id":"289b638f-5217-9a2c-8799-8b5d7642bbd5"}}'
  recorded_at: Fri, 24 Oct 2025 22:24:59 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267793977){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267793977"}},"extensions":{"request_id":"419d9944-fcf2-9b34-a1f4-2ab6a351c1ca"}}'
  recorded_at: Fri, 24 Oct 2025 22:25:01 GMT
recorded_with: VCR 6.3.1
