---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18383915923","name":"Test Board","description":null}},"extensions":{"request_id":"9f1db5ee-eccf-9ba9-be87-5355659dc749"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:39 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation { change_column_value(board_id: \"18383915923\",
        item_id: \"123\", column_id: \"file_123xyz\", value: \"{\\\"clear_all\\\":
        true}\") {id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"change_column_value":null},"errors":[{"message":"Item not
        found","locations":[{"line":1,"column":12}],"path":["change_column_value"],"extensions":{"code":"InvalidItemIdException","status_code":200,"error_data":{"item_id":123},"service":"monolith"}}],"extensions":{"request_id":"6a0bea47-c28f-9120-8067-20764cef9e75"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:40 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18383915923){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18383915923"}},"extensions":{"request_id":"ab23d561-f30f-9a68-834b-37302e24cd2e"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:41 GMT
recorded_with: VCR 6.2.0
