---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273185556","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"5366c6ca-d024-9ec9-b94f-24564249b80c"}}'
  recorded_at: Mon, 27 Oct 2025 01:26:42 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18273185556\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx48yra","title":"Test Group"}},"extensions":{"request_id":"d453f791-00fb-9a0c-8006-880c9e9ad5ac"}}'
  recorded_at: Mon, 27 Oct 2025 01:26:43 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273185556\", group_id:
        \"group_mkx48yra\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273185682","name":"Test Item 1","created_at":"2025-10-27T01:26:43Z"}},"extensions":{"request_id":"1d630f9f-20ea-9b73-bdc8-cb10d9a4c2a1"}}'
  recorded_at: Mon, 27 Oct 2025 01:26:44 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273185556\"]){groups(ids: [\"group_mkx48yra\"]){items_page(limit:
        10, query_params: {rules: [{column_id: \"name\", compare_value: [\"Test Item
        1\"]}], operator: and}){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":null,"items":[{"id":"18273185682","name":"Test
        Item 1"}]}}]}]},"extensions":{"request_id":"80cc0dfe-b77d-970f-8193-f91d092a5d89"}}'
  recorded_at: Mon, 27 Oct 2025 01:26:55 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273185556){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273185556"}},"extensions":{"request_id":"eb6c9439-22d3-912f-981c-3960488131e9"}}'
  recorded_at: Mon, 27 Oct 2025 01:26:56 GMT
recorded_with: VCR 6.3.1
