---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Pagination Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18265908449","name":"Pagination Test
        Board","description":null}},"extensions":{"request_id":"0f043473-6a6a-98d6-b8de-4915511b7ea7"}}'
  recorded_at: Fri, 24 Oct 2025 18:17:05 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18265908449\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18265908506","name":"Task
        1"}]}}]},"extensions":{"request_id":"14a35169-32af-9407-8ecd-d457c1f356b0"}}'
  recorded_at: Fri, 24 Oct 2025 18:17:06 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18265908449\", item_name:
        \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18265908709","name":"Test Item 1","created_at":"2025-10-24T18:17:06Z"}},"extensions":{"request_id":"1c82fa98-e7ad-928b-8fff-3fdeb8dc3ffd"}}'
  recorded_at: Fri, 24 Oct 2025 18:17:07 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18265908449){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18265908449"}},"extensions":{"request_id":"cd4d6904-7b5b-9c37-af38-2804e6fc444f"}}'
  recorded_at: Fri, 24 Oct 2025 18:17:22 GMT
recorded_with: VCR 6.3.1
