---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"New test board\", board_kind:
        \"invalid_kind\"){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Enum \"BoardKind\" cannot represent non-enum
        value: \"invalid_kind\".","locations":[{"line":1,"column":65}]}],"extensions":{"request_id":"f930e9b9-aef5-98c9-8e44-4e256b238f55"}}'
  recorded_at: Fri, 24 Oct 2025 16:09:32 GMT
recorded_with: VCR 6.3.1
