---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Duplicate Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18264696633","name":"Duplicate Test
        Board","description":null}},"extensions":{"request_id":"55e3dd00-55e4-9229-80d1-c0c9c58831f6"}}'
  recorded_at: Fri, 24 Oct 2025 16:11:41 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{duplicate_board(board_id: \"18264696633\", duplicate_type:
        \"invalid_type\"){board{id name description}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Enum \"DuplicateBoardType\" cannot represent
        non-enum value: \"invalid_type\".","locations":[{"line":1,"column":67}]}],"extensions":{"request_id":"86a077dd-a3d3-9b59-85ca-04f319d680d6"}}'
  recorded_at: Fri, 24 Oct 2025 16:11:41 GMT
recorded_with: VCR 6.3.1
