---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Duplicate Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267430086","name":"Duplicate Test
        Board","description":null}},"extensions":{"request_id":"c799aa2e-1039-9939-9a4c-321ef4a67558"}}'
  recorded_at: Fri, 24 Oct 2025 21:11:43 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18267430086\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18267430122","name":"Task
        1"}]}}]},"extensions":{"request_id":"7f2e4885-1402-9335-b5b7-712a42532b22"}}'
  recorded_at: Fri, 24 Oct 2025 21:11:44 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_item(item_id: 18267430122){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_item":{"id":"18267430122"}},"extensions":{"request_id":"bcc73ffd-d6da-9488-8d4b-db033825c75e"}}'
  recorded_at: Fri, 24 Oct 2025 21:11:45 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{duplicate_group(board_id: \"18267430086\", group_id:
        \"invalid_group_name\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"duplicate_group":null},"errors":[{"message":"Group not found","locations":[{"line":1,"column":12}],"path":["duplicate_group"],"extensions":{"code":"ResourceNotFoundException","status_code":404,"error_data":{"resource_type":"group","group_id":"invalid_group_name","board_id":18267430086,"error_reason":"store.monday.automation.error.missing_group"},"service":"monolith"}}],"extensions":{"request_id":"60fdc4c4-d709-9393-8fde-647a3baafe88"}}'
  recorded_at: Fri, 24 Oct 2025 21:11:46 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267430086){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267430086"}},"extensions":{"request_id":"6923b340-68c1-984b-ae4f-92f61f00edea"}}'
  recorded_at: Fri, 24 Oct 2025 21:11:46 GMT
recorded_with: VCR 6.3.1
