---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation { change_column_value(value: \"{\\\"clear_all\\\":
        true}\") {id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - invalid_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Monday-Auth:
      - 'true'
      X-Monday-Region:
      - undefined
      Etag:
      - W/"56-jO0ghLOWWf8QDEiLlwC7K3Hc7eU"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Not authenticated","extensions":{"code":"NOT_AUTHENTICATED"}}]}'
  recorded_at: Wed, 19 Nov 2025 02:16:53 GMT
recorded_with: VCR 6.2.0
