---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2/file
    body:
      encoding: ASCII-8BIT
      string: "----4b7c85cd-1378-4175-ac80-f7192f5f5eeb\r\nContent-Disposition: form-data;
        name=\"query\"\r\n\r\nmutation add_file($file: File!) {\n  add_file_to_column(file:
        $file) {id}\n}\n\r\n----4b7c85cd-1378-4175-ac80-f7192f5f5eeb\r\nContent-Disposition:
        form-data; name=\"variables[file]\"\r\n\r\n\r\n----4b7c85cd-1378-4175-ac80-f7192f5f5eeb--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=--4b7c85cd-1378-4175-ac80-f7192f5f5eeb
      Authorization:
      - invalid_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Monday-Auth:
      - 'true'
      X-Monday-Region:
      - undefined
      Etag:
      - W/"56-jO0ghLOWWf8QDEiLlwC7K3Hc7eU"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Not authenticated","extensions":{"code":"NOT_AUTHENTICATED"}}]}'
  recorded_at: Wed, 19 Nov 2025 02:15:51 GMT
recorded_with: VCR 6.2.0
