---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{duplicate_item(board_id: 123, item_id: 123, with_updates:
        true){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":null,"errors":[{"message":"Internal server error","path":[],"extensions":{"status_code":500,"error_code":"INTERNAL_SERVER_ERROR","service":"monolith"}}],"extensions":{"request_id":"e55831aa-b3ae-98fa-bcab-3e6cfb6e203f"}}'
  recorded_at: Mon, 27 Oct 2025 02:18:07 GMT
recorded_with: VCR 6.3.1
