---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Pagination Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273454854","name":"Pagination Test
        Board","description":null}},"extensions":{"request_id":"4dd1c783-3c36-9ec3-bd7f-24704d5f3e9e"}}'
  recorded_at: Mon, 27 Oct 2025 02:44:48 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273454854\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18273454865","name":"Task
        1"}]}}]},"extensions":{"request_id":"b5818b00-5ccf-9e6b-9173-9f6974e4015a"}}'
  recorded_at: Mon, 27 Oct 2025 02:44:49 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273454854\", item_name:
        \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273454919","name":"Test Item 1","created_at":"2025-10-27T02:44:49Z"}},"extensions":{"request_id":"325c1f2d-fecf-9b85-8d7b-5315f466a385"}}'
  recorded_at: Mon, 27 Oct 2025 02:44:50 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items_page_by_column_values(board_id: 18273454854,
        limit: 5, columns: [{column_id: \"name\", column_values: [\"Test Item\", \"Test
        Item\", \"Test Item\", \"Test Item\", \"Test Item\", \"Test Item\", \"Test
        Item\", \"Test Item\", \"Test Item\", \"Test Item\", \"Test Item\", \"Test
        Item\", \"Test Item\", \"Test Item\", \"Test Item\"]}]){cursor items{id name}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items_page_by_column_values":{"cursor":null,"items":[]}},"extensions":{"request_id":"d610d77c-f3d3-9a5f-82ff-f95a4f96fb60"}}'
  recorded_at: Mon, 27 Oct 2025 02:45:05 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273454854){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273454854"}},"extensions":{"request_id":"6c96a45b-6a60-96c4-bdc2-065901bca4b8"}}'
  recorded_at: Mon, 27 Oct 2025 02:45:06 GMT
recorded_with: VCR 6.3.1
