---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Pagination Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273457694","name":"Pagination Test
        Board","description":null}},"extensions":{"request_id":"7c42ac07-c162-9e36-96b1-e03f769656c8"}}'
  recorded_at: Mon, 27 Oct 2025 02:45:53 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273457694\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18273457711","name":"Task
        1"}]}}]},"extensions":{"request_id":"a06ea4ea-5f96-98e8-8a1e-3cf3b1db34e4"}}'
  recorded_at: Mon, 27 Oct 2025 02:45:54 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273457694\", item_name:
        \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273457754","name":"Test Item 1","created_at":"2025-10-27T02:45:54Z"}},"extensions":{"request_id":"8949f5ce-9c5a-9be8-9661-22c922e381ef"}}'
  recorded_at: Mon, 27 Oct 2025 02:45:55 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items_page_by_column_values(board_id: 18273457694,
        limit: 5, columns: [{column_id: \"name\", column_values: [\"Test Item\", \"Test
        Item\", \"Test Item\", \"Test Item\", \"Test Item\", \"Test Item\", \"Test
        Item\", \"Test Item\", \"Test Item\", \"Test Item\", \"Test Item\", \"Test
        Item\", \"Test Item\", \"Test Item\", \"Test Item\"]}]){cursor items{id name}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items_page_by_column_values":{"cursor":null,"items":[]}},"extensions":{"request_id":"cd8b4784-d8d0-9410-80c6-9b1f26c24bc5"}}'
  recorded_at: Mon, 27 Oct 2025 02:46:11 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273457694){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273457694"}},"extensions":{"request_id":"10d8e7b6-5604-9ca0-8ec0-33f1ea5b5338"}}'
  recorded_at: Mon, 27 Oct 2025 02:46:12 GMT
recorded_with: VCR 6.3.1
