---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18383915872","name":"Test Board","description":null}},"extensions":{"request_id":"b9ae1ca0-25e5-9169-a53a-7d6cf08d7548"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:33 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18383915872\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"10593208812","name":"Test Item","created_at":"2025-11-19T02:16:34Z"}},"extensions":{"request_id":"f42e05e1-bea9-9fdf-97c4-cfae41a3761d"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:34 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_update(item_id: \"10593208812\", body: \"This
        update will be added to the item\"){id body created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_update":{"id":"4682421552","body":"This update will
        be added to the item","created_at":"2025-11-19T02:16:35.719Z"}},"extensions":{"request_id":"cc3e58a6-da1d-9add-9726-8cc1dde634d1"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:35 GMT
- request:
    method: post
    uri: https://api.monday.com/v2/file
    body:
      encoding: ASCII-8BIT
      string: "----9868ecf7-fbf9-493c-8ced-3f48ffa1ce4f\r\nContent-Disposition: form-data;
        name=\"query\"\r\n\r\nmutation ($file: File!) {\n  add_file_to_update(update_id:
        \"4682421552\", file: $file) {id}\n}\n\r\n----9868ecf7-fbf9-493c-8ced-3f48ffa1ce4f\r\nContent-Disposition:
        form-data; name=\"variables[file]\"\r\n\r\nsome_file_string\r\n----9868ecf7-fbf9-493c-8ced-3f48ffa1ce4f--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=--9868ecf7-fbf9-493c-8ced-3f48ffa1ce4f
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":500,"error_message":"Internal server error","error_code":"INTERNAL_SERVER_ERROR","errors":[{"message":"Internal
        server error","extensions":{"status_code":500,"error_code":"INTERNAL_SERVER_ERROR"}}]}'
  recorded_at: Wed, 19 Nov 2025 02:16:36 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18383915872){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18383915872"}},"extensions":{"request_id":"3e13f36a-c691-9527-a8b6-4760787d5a9d"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:37 GMT
recorded_with: VCR 6.2.0
