---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Column Filter Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273451002","name":"Column Filter Test
        Board","description":null}},"extensions":{"request_id":"07eab874-2970-9070-baee-ccd1ba49e682"}}'
  recorded_at: Mon, 27 Oct 2025 02:43:00 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273451002\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18273451019","name":"Task
        1"}]}}]},"extensions":{"request_id":"0d62d6d3-c596-9a5c-a04a-06965e03e7f0"}}'
  recorded_at: Mon, 27 Oct 2025 02:43:01 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273451002\", item_name:
        \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273451088","name":"Test Item 1","created_at":"2025-10-27T02:43:02Z"}},"extensions":{"request_id":"b8da3d17-06fd-9268-ab1c-952ec6d52441"}}'
  recorded_at: Mon, 27 Oct 2025 02:43:02 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items_page_by_column_values(board_id: 18273451002,
        limit: 25, columns: [{column_id: \"name\", column_values: [\"Test Item 1\",
        \"Test Item 2\", \"Test Item 3\"]}]){cursor items{id name}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items_page_by_column_values":{"cursor":null,"items":[{"id":"18273451088","name":"Test
        Item 1"},{"id":"18273451123","name":"Test Item 2"},{"id":"18273451142","name":"Test
        Item 3"}]}},"extensions":{"request_id":"93aa7b2d-4efa-98f3-9572-c362738da1c3"}}'
  recorded_at: Mon, 27 Oct 2025 02:43:12 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273451002){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273451002"}},"extensions":{"request_id":"96bba6d4-cfb8-92a4-93c4-a4d43655840e"}}'
  recorded_at: Mon, 27 Oct 2025 02:43:13 GMT
recorded_with: VCR 6.3.1
