---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Column Filter Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273596595","name":"Column Filter Test
        Board","description":null}},"extensions":{"request_id":"907457c4-c19f-9114-a9cf-13c8b41311d2"}}'
  recorded_at: Mon, 27 Oct 2025 03:37:50 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273596595\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18273596619","name":"Task
        1"}]}}]},"extensions":{"request_id":"7dc6c01a-82f8-97e0-8b6d-19dddab6906f"}}'
  recorded_at: Mon, 27 Oct 2025 03:37:51 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273596595\", item_name:
        \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273596700","name":"Test Item 1","created_at":"2025-10-27T03:37:51Z"}},"extensions":{"request_id":"a07b3275-292a-9b0a-891d-0c2d6dc29c82"}}'
  recorded_at: Mon, 27 Oct 2025 03:37:52 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items_page_by_column_values(board_id: 18273596595,
        limit: 25, columns: [{column_id: \"name\", column_values: [\"Test Item 1\",
        \"Test Item 2\", \"Test Item 3\"]}]){cursor items{id name}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items_page_by_column_values":{"cursor":null,"items":[{"id":"18273596700","name":"Test
        Item 1"},{"id":"18273596742","name":"Test Item 2"},{"id":"18273596777","name":"Test
        Item 3"}]}},"extensions":{"request_id":"a02a0ffb-0a50-9d63-b5b7-bfe67ccf3fac"}}'
  recorded_at: Mon, 27 Oct 2025 03:38:01 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273596595){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273596595"}},"extensions":{"request_id":"79e08202-3d77-99b6-95a3-114d548483d3"}}'
  recorded_at: Mon, 27 Oct 2025 03:38:02 GMT
recorded_with: VCR 6.3.1
