---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Column Filter Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273595141","name":"Column Filter Test
        Board","description":null}},"extensions":{"request_id":"5506229e-f8f4-97e1-a58c-783f3fb04839"}}'
  recorded_at: Mon, 27 Oct 2025 03:36:55 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273595141\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18273595151","name":"Task
        1"}]}}]},"extensions":{"request_id":"71a6ec62-f219-95b3-a8e3-8bba69718a52"}}'
  recorded_at: Mon, 27 Oct 2025 03:36:56 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273595141\", item_name:
        \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273595194","name":"Test Item 1","created_at":"2025-10-27T03:36:56Z"}},"extensions":{"request_id":"bcff4549-27ea-94da-af43-96989aad7d92"}}'
  recorded_at: Mon, 27 Oct 2025 03:36:57 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items_page_by_column_values(board_id: 18273595141,
        limit: 25, columns: [{column_id: \"name\", column_values: [\"Test Item 1\",
        \"Test Item 2\", \"Test Item 3\"]}]){cursor items{id name}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items_page_by_column_values":{"cursor":null,"items":[{"id":"18273595194","name":"Test
        Item 1"},{"id":"18273595219","name":"Test Item 2"},{"id":"18273595234","name":"Test
        Item 3"}]}},"extensions":{"request_id":"f078b497-51dc-9066-b795-3e06d11c4045"}}'
  recorded_at: Mon, 27 Oct 2025 03:37:06 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273595141){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273595141"}},"extensions":{"request_id":"7dffc85b-9fb1-9013-9be7-5f7a3ba30778"}}'
  recorded_at: Mon, 27 Oct 2025 03:37:07 GMT
recorded_with: VCR 6.3.1
