---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18383915946","name":"Test Board","description":null}},"extensions":{"request_id":"11e14be0-f610-9415-8be9-e5a0d8d36366"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:42 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18383915946\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"10593183829","name":"Test Item","created_at":"2025-11-19T02:16:43Z"}},"extensions":{"request_id":"6c36c5c7-23f1-96b1-9005-eeb6d3700225"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:44 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_column(board_id: \"18383915946\", title:
        \"Files\", description: \"Documents\", column_type: file){id title description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_column":{"id":"file_mkxvw8kt","title":"Files","description":"Documents"}},"extensions":{"request_id":"42a85763-68aa-9418-8181-8aa96aa96623"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:44 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation { change_column_value(board_id: \"18383915946\",
        item_id: \"10593183829\", column_id: \"file_mkxvw8kt\", value: \"{\\\"clear_all\\\":
        true}\") {id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"change_column_value":{"id":"10593183829"}},"extensions":{"request_id":"a6b0dee1-df07-982d-8d77-437f249ade34"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:45 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18383915946){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-10
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18383915946"}},"extensions":{"request_id":"d65d651f-7eb4-92d0-9c77-bb9feb00231e"}}'
  recorded_at: Wed, 19 Nov 2025 02:16:46 GMT
recorded_with: VCR 6.2.0
