---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273205951","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"5cf9b716-f816-9de8-bfd5-ae0175a47bd1"}}'
  recorded_at: Mon, 27 Oct 2025 01:30:22 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18273205951\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx45rx3","title":"Test Group"}},"extensions":{"request_id":"5ec4f9d2-29ea-9f5e-8099-fe11c978b2c0"}}'
  recorded_at: Mon, 27 Oct 2025 01:30:23 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273205951\", group_id:
        \"group_mkx45rx3\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273206172","name":"Test Item 1","created_at":"2025-10-27T01:30:24Z"}},"extensions":{"request_id":"e4def49c-4c39-9176-ba2d-b0deb0572c88"}}'
  recorded_at: Mon, 27 Oct 2025 01:30:24 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273205951\"]){groups(ids: [\"group_mkx45rx3\"]){items_page(limit:
        10){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI3MzIwNTk1MSw4SHBlYXZyclM5SnBMVmI1bWRqaTksMTIsMTAsZ3JvdXBfbWt4NDVyeDN8MzIwNTU4OTc0OQ","items":[{"id":"18273206172","name":"Test
        Item 1"},{"id":"18273206207","name":"Test Item 2"},{"id":"18273206242","name":"Test
        Item 3"},{"id":"18273206288","name":"Test Item 4"},{"id":"18273206350","name":"Test
        Item 5"},{"id":"18273206844","name":"Test Item 6"},{"id":"18273206890","name":"Test
        Item 7"},{"id":"18273206933","name":"Test Item 8"},{"id":"18273206965","name":"Test
        Item 9"},{"id":"18273207012","name":"Test Item 10"}]}}]}]},"extensions":{"request_id":"66bfe522-c528-98bd-ac06-6a77d8188a08"}}'
  recorded_at: Mon, 27 Oct 2025 01:30:37 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273205951){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273205951"}},"extensions":{"request_id":"68e21a76-a3f5-9fb6-9936-49864c531b89"}}'
  recorded_at: Mon, 27 Oct 2025 01:30:38 GMT
recorded_with: VCR 6.3.1
