---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273574888","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"1eb764bf-4884-983f-b681-ee12e4289d9d"}}'
  recorded_at: Mon, 27 Oct 2025 03:29:19 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18273574888\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx4nv94","title":"Test Group"}},"extensions":{"request_id":"04d0a095-105c-9f09-a633-eceb78646ac6"}}'
  recorded_at: Mon, 27 Oct 2025 03:29:20 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273574888\", group_id:
        \"group_mkx4nv94\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273574955","name":"Test Item 1","created_at":"2025-10-27T03:29:21Z"}},"extensions":{"request_id":"114e7fd5-a248-9c40-a150-6c81e04950eb"}}'
  recorded_at: Mon, 27 Oct 2025 03:29:21 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273574888\"]){groups(ids: [\"group_mkx4nv94\"]){items_page(limit:
        10){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI3MzU3NDg4OCx3ZUtZeGl5SjZsWkcyVWN5R0dXUVgsMTIsMTAsZ3JvdXBfbWt4NG52OTR8OTQ0NDM4MTI1","items":[{"id":"18273574955","name":"Test
        Item 1"},{"id":"18273574984","name":"Test Item 2"},{"id":"18273575025","name":"Test
        Item 3"},{"id":"18273575050","name":"Test Item 4"},{"id":"18273575083","name":"Test
        Item 5"},{"id":"18273575110","name":"Test Item 6"},{"id":"18273575140","name":"Test
        Item 7"},{"id":"18273575167","name":"Test Item 8"},{"id":"18273575189","name":"Test
        Item 9"},{"id":"18273575207","name":"Test Item 10"}]}}]}]},"extensions":{"request_id":"5f6bfff3-12c4-9320-9227-de0e02ec9deb"}}'
  recorded_at: Mon, 27 Oct 2025 03:29:32 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273574888){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273574888"}},"extensions":{"request_id":"49fe9665-55af-9e6f-a0c2-241d6ed7d2c1"}}'
  recorded_at: Mon, 27 Oct 2025 03:29:33 GMT
recorded_with: VCR 6.3.1
