---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Group Pagination Test
        Board\", board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273579686","name":"Group Pagination
        Test Board","description":null}},"extensions":{"request_id":"239de40a-c4d7-9b06-b645-96618397a80c"}}'
  recorded_at: Mon, 27 Oct 2025 03:30:45 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18273579686\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx4qkqw","title":"Test Group"}},"extensions":{"request_id":"67513880-63da-9e2f-b2ca-bc5526a418a4"}}'
  recorded_at: Mon, 27 Oct 2025 03:30:46 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273579686\", group_id:
        \"group_mkx4qkqw\", item_name: \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273579790","name":"Test Item 1","created_at":"2025-10-27T03:30:46Z"}},"extensions":{"request_id":"887cfa3e-b1fe-99a7-92f4-60edd7fb0c37"}}'
  recorded_at: Mon, 27 Oct 2025 03:30:47 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273579686\"]){groups(ids: [\"group_mkx4qkqw\"]){items_page(limit:
        10){cursor items{id name}}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"groups":[{"items_page":{"cursor":"MSwxODI3MzU3OTY4Niw1YWN4X29JVjdTeHRidENBakg3RzAsMTIsMTAsZ3JvdXBfbWt4NHFrcXd8MzM4NjgyMTUwMw","items":[{"id":"18273579790","name":"Test
        Item 1"},{"id":"18273579846","name":"Test Item 2"},{"id":"18273579921","name":"Test
        Item 3"},{"id":"18273579975","name":"Test Item 4"},{"id":"18273580040","name":"Test
        Item 5"},{"id":"18273580100","name":"Test Item 6"},{"id":"18273580132","name":"Test
        Item 7"},{"id":"18273580159","name":"Test Item 8"},{"id":"18273580186","name":"Test
        Item 9"},{"id":"18273580220","name":"Test Item 10"}]}}]}]},"extensions":{"request_id":"b525a94e-6874-9b32-863b-c809ce98c8c6"}}'
  recorded_at: Mon, 27 Oct 2025 03:30:59 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273579686){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273579686"}},"extensions":{"request_id":"3dfd25aa-5862-9c8b-b62a-99e933dfada0"}}'
  recorded_at: Mon, 27 Oct 2025 03:31:01 GMT
recorded_with: VCR 6.3.1
