---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items(ids: \"123\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[]},"extensions":{"request_id":"2cfff3cc-9532-9a95-9ddc-275a9a0a64fd"}}'
  recorded_at: Mon, 27 Oct 2025 02:13:40 GMT
recorded_with: VCR 6.3.1
