---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items_page_by_column_values(board_id: 123456, limit:
        25, columns: [{column_id: \"status\", column_values: [\"Done\"]}]){cursor
        items{id name}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":null,"errors":[{"message":"The board does not exist. Please
        check your board ID and try again","locations":[{"line":1,"column":3}],"path":["items_page_by_column_values"],"extensions":{"code":"InvalidBoardIdException","status_code":200,"error_data":{"board_id":123456},"service":"monolith"}}],"extensions":{"request_id":"14412867-4d87-94c1-b074-e69ba062c21e"}}'
  recorded_at: Mon, 27 Oct 2025 02:26:13 GMT
recorded_with: VCR 6.3.1
