---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"6bfde10f063c33e500589cb6219920fe"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7734869363","name":"Test Board","description":null}},"account_id":20813174}'
  recorded_at: Tue, 29 Oct 2024 14:58:13 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_column(board_id: \"7734869363\", title: \"Test
        Column\", column_type: text){id title description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"de912cd11cc8557ccfc6a0b4bfe31355"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_column":{"id":"test_column__1","title":"Test Column","description":null}},"account_id":20813174}'
  recorded_at: Tue, 29 Oct 2024 14:58:14 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards{columns(types: [date, status]){id title description}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"a8d5a1c1dc3e03fa1943e909e89e4677"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"columns":[{"id":"status","title":"Name","description":null},{"id":"status","title":"Test
        Column","description":null}]},{"columns":[{"id":"name","title":"Name","description":null},{"id":"test_column__1","title":"Test
        Column","description":null}]},{"columns":[{"id":"name","title":"Name","description":null},{"id":"test_column__1","title":"Test
        Column","description":null}]},{"columns":[{"id":"name","title":"Name","description":null}]},{"columns":[{"id":"name","title":"Name","descripti[...]
