---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"5cee222bb6e9c9248cfd04233583a349"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7092766506","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:46:43 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"7092766506\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"11bbd6e81b6edc69fa8964f6bedbbc28"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"7092766804","name":"Test Item","created_at":"2024-07-25T03:46:48Z"}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:46:45 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_update(item_id: \"7092766804\", body: \"This
        update will be added to the item\"){id body created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"24be8e69d38294a1d73cef5d6c962272"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_update":{"id":"3325555116","body":"This update will
        be added to the item","created_at":"2024-07-25T03:46:49Z"}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:46:46 GMT
recorded_with: VCR 6.2.0
