---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Update Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18264782976","name":"Update Test Board","description":null}},"extensions":{"request_id":"cad7ef5b-9428-99c3-83b5-384d152c072c"}}'
  recorded_at: Fri, 24 Oct 2025 16:19:07 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{update_board(board_id: \"18264782976\", board_attribute:
        \"invalid_attribute\", new_value: \"New description\")}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Enum \"BoardAttributes\" cannot represent non-enum
        value: \"invalid_attribute\".","locations":[{"line":1,"column":65}]}],"extensions":{"request_id":"3f345779-c403-94cc-a1d1-a00d5285e592"}}'
  recorded_at: Fri, 24 Oct 2025 16:19:07 GMT
recorded_with: VCR 6.3.1
