---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Archive Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267631879","name":"Archive Test Board","description":null}},"extensions":{"request_id":"9eb393c2-2bfb-9e59-a689-5cef8555f0b6"}}'
  recorded_at: Fri, 24 Oct 2025 21:50:20 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18267631879\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18267631896","name":"Task
        1"}]}}]},"extensions":{"request_id":"d8260508-655b-9ff8-86a3-58bc89bb9185"}}'
  recorded_at: Fri, 24 Oct 2025 21:50:20 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_item(item_id: 18267631896){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_item":{"id":"18267631896"}},"extensions":{"request_id":"7e3d8e4f-1235-9919-8442-e088ae392e4c"}}'
  recorded_at: Fri, 24 Oct 2025 21:50:21 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{archive_group(board_id: \"18267631879\", group_id:
        \"invalid_group_id\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"archive_group":null},"errors":[{"message":"User unauthorized
        to perform action","locations":[{"line":1,"column":12}],"path":["archive_group"],"extensions":{"code":"USER_UNAUTHORIZED","status_code":403,"error_data":{},"service":"monolith"}}],"extensions":{"request_id":"8f43a62e-1ee1-9a55-8524-c7996601424c"}}'
  recorded_at: Fri, 24 Oct 2025 21:50:22 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267631879){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267631879"}},"extensions":{"request_id":"1421c495-4a8e-9469-a4cf-8a1c72de604a"}}'
  recorded_at: Fri, 24 Oct 2025 21:50:23 GMT
recorded_with: VCR 6.3.1
