---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Column Filter Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18273397616","name":"Column Filter Test
        Board","description":null}},"extensions":{"request_id":"ed3262ce-26ca-9c8b-9815-023bbe18c648"}}'
  recorded_at: Mon, 27 Oct 2025 02:26:39 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18273397616\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18273397625","name":"Task
        1"}]}}]},"extensions":{"request_id":"19f3afb5-2abb-91d3-83f9-bb24bc799dbd"}}'
  recorded_at: Mon, 27 Oct 2025 02:26:40 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"18273397616\", item_name:
        \"Test Item 1\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"18273397674","name":"Test Item 1","created_at":"2025-10-27T02:26:40Z"}},"extensions":{"request_id":"7e5870d5-3896-9075-b867-000460d575a9"}}'
  recorded_at: Mon, 27 Oct 2025 02:26:41 GMT
[...]
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{items_page_by_column_values(board_id: 18273397616,
        limit: 25, columns: [{column_id: \"name\", column_values: [\"Test Item 1\"]}]){cursor
        items{id name}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items_page_by_column_values":{"cursor":null,"items":[{"id":"18273397674","name":"Test
        Item 1"}]}},"extensions":{"request_id":"6217f03f-99d6-9e21-9e58-3e34172bdb0b"}}'
  recorded_at: Mon, 27 Oct 2025 02:26:51 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18273397616){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18273397616"}},"extensions":{"request_id":"9b43a898-bdf9-9060-b697-4e24c3548bd9"}}'
  recorded_at: Mon, 27 Oct 2025 02:26:52 GMT
recorded_with: VCR 6.3.1
