---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_group(board_id: \"invalid_board_name\", group_id:
        \"invalid_group_name\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":null,"errors":[{"message":"Internal server error","path":[],"extensions":{"status_code":500,"error_code":"INTERNAL_SERVER_ERROR","service":"monolith"}}],"extensions":{"request_id":"7584f014-1b32-98b0-a964-697a1b7663c7"}}'
  recorded_at: Fri, 24 Oct 2025 21:59:16 GMT
recorded_with: VCR 6.3.1
