---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{folders{invalid_field}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"850bd018e193c851e2c4c962b023061e"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Field ''invalid_field'' doesn''t exist on type
        ''Folder''","locations":[{"line":1,"column":15}],"path":["query","folders","invalid_field"],"extensions":{"code":"undefinedField","typeName":"Folder","fieldName":"invalid_field"}}],"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:00:58 GMT
recorded_with: VCR 6.2.0
