---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards{groups{invalid_field}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Cannot query field \"invalid_field\" on type
        \"Group\".","locations":[{"line":1,"column":21}]}],"extensions":{"request_id":"ab725603-75fe-9907-b712-e999b8849f0b"}}'
  recorded_at: Fri, 24 Oct 2025 20:57:53 GMT
recorded_with: VCR 6.3.1
