---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Test Board\", board_kind:
        private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"7ea76473e789a215b795588b2e528c78"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"7092731060","name":"Test Board","description":null}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:35:11 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_item(board_id: \"7092731060\", item_name:
        \"Test Item\"){id name created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"0b85ef37d3ed5959bbc9cfd739f4845e"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_item":{"id":"7092731125","name":"Test Item","created_at":"2024-07-25T03:35:15Z"}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:35:12 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_update(item_id: \"7092731125\", body: \"This
        update will be added to the item\"){id body created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"914b2f88a0236a83d79f8165cba7a700"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_update":{"id":"3325531938","body":"This update will
        be added to the item","created_at":"2024-07-25T03:35:16Z"}},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:35:13 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{updates(limit: 10){id body created_at}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-07
      Etag:
      - W/"fe4a656bd260a34d2c08ee2b39623130"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"updates":[{"id":"3325531201","body":"This update will be
        added to the item","created_at":"2024-07-25T03:34:12Z"},{"id":"3325531146","body":"This
        update will be added to the item","created_at":"2024-07-25T03:34:07Z"}]},"account_id":24308083}'
  recorded_at: Thu, 25 Jul 2024 03:35:14 GMT
recorded_with: VCR 6.2.0
