---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{update_folder(folder_id: 1234567, name: \"Dogs\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"e58b57ec00d18d470ec177c7587cb526"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"The folder does not exist. Please check your
        folder ID and try again","locations":[{"line":1,"column":10}],"path":["update_folder"],"extensions":{"code":"InvalidFolderIdException","status_code":200,"error_data":{"folder_id":1234567}}}],"error_message":"The
        folder does not exist. Please check your folder ID and try again","error_code":"InvalidFolderIdException","error_data":{"folder_id":1234567},"status_code":200,"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:04 GMT
recorded_with: VCR 6.2.0
