---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Delete Test Board\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267656754","name":"Delete Test Board","description":null}},"extensions":{"request_id":"807d6266-9f17-9dee-b3f2-d07ea2771d0e"}}'
  recorded_at: Fri, 24 Oct 2025 21:57:30 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"query{boards(ids: [\"18267656754\"]){items_page(limit: 500){cursor
        items{id name}}}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"boards":[{"items_page":{"cursor":null,"items":[{"id":"18267656772","name":"Task
        1"}]}}]},"extensions":{"request_id":"7733341d-ad0e-9091-acfc-d837c4712067"}}'
  recorded_at: Fri, 24 Oct 2025 21:57:31 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_item(item_id: 18267656772){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_item":{"id":"18267656772"}},"extensions":{"request_id":"c1f34de6-48df-9671-a7de-af6d3f169578"}}'
  recorded_at: Fri, 24 Oct 2025 21:57:32 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_group(board_id: \"18267656754\", group_id:
        \"invalid_group_name\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_group":null},"errors":[{"message":"User unauthorized
        to perform action","locations":[{"line":1,"column":12}],"path":["delete_group"],"extensions":{"code":"USER_UNAUTHORIZED","status_code":403,"error_data":{},"service":"monolith"}}],"extensions":{"request_id":"6645d4b0-e73f-9233-be02-bdbdaf86c700"}}'
  recorded_at: Fri, 24 Oct 2025 21:57:33 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267656754){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267656754"}},"extensions":{"request_id":"6a223eaa-2d49-9c33-a841-bda384794b15"}}'
  recorded_at: Fri, 24 Oct 2025 21:57:34 GMT
recorded_with: VCR 6.3.1
