---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_workspace(name: \"Test Workspace\", kind:
        open){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"847cd0e6393d37526b8825fc915c9553"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_workspace":{"id":"8529955","name":"Test Workspace","description":null}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:00 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_folder(workspace_id: \"8529955\", name: \"Database
        boards\"){id name}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"5f28472da88ab72286657f8cae80cf0d"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_folder":{"id":"15476750","name":"Database boards"}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:00 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{update_folder(folder_id: \"15476750\", name: \"Cool
        boards\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - 2024-10
      Etag:
      - W/"cae798350afcdc6640dd9fe84f775587"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"update_folder":{"id":"15476750"}},"account_id":15314314}'
  recorded_at: Mon, 21 Oct 2024 02:01:01 GMT
recorded_with: VCR 6.2.0
