---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 123456){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":null},"errors":[{"message":"The board does
        not exist. Please check your board ID and try again","locations":[{"line":1,"column":12}],"path":["delete_board"],"extensions":{"code":"InvalidBoardIdException","status_code":200,"error_data":{"board_id":123456},"service":"monolith"}}],"extensions":{"request_id":"647c5847-3eb3-989f-989c-26d41030164d"}}'
  recorded_at: Fri, 24 Oct 2025 18:14:25 GMT
recorded_with: VCR 6.3.1
