---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_board(board_name: \"Move Item Invalid Test\",
        board_kind: private){id name description}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_board":{"id":"18267694446","name":"Move Item Invalid
        Test","description":null}},"extensions":{"request_id":"e0df7c25-5f26-9518-ba89-ba73dfa5a6e8"}}'
  recorded_at: Fri, 24 Oct 2025 22:05:26 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{create_group(board_id: \"18267694446\", group_name:
        \"Test Group\"){id title}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"create_group":{"id":"group_mkx1xfg5","title":"Test Group"}},"extensions":{"request_id":"9a05ea9a-f8d9-954d-bf51-7ec125d15584"}}'
  recorded_at: Fri, 24 Oct 2025 22:05:27 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{move_item_to_group(item_id: \"invalid_item_id\",
        group_id: \"group_mkx1xfg5\"){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":null,"errors":[{"message":"Internal server error","path":[],"extensions":{"status_code":500,"error_code":"INTERNAL_SERVER_ERROR","service":"monolith"}}],"extensions":{"request_id":"12ca9dd1-4eff-9bfa-b3a8-042126f983ed"}}'
  recorded_at: Fri, 24 Oct 2025 22:05:27 GMT
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{delete_board(board_id: 18267694446){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Api-Router:
      - 'true'
      Api-Version:
      - 2025-07
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"delete_board":{"id":"18267694446"}},"extensions":{"request_id":"b371c6b7-aeb4-98d5-b4bd-680968920534"}}'
  recorded_at: Fri, 24 Oct 2025 22:05:28 GMT
recorded_with: VCR 6.3.1
