---
http_interactions:
- request:
    method: post
    uri: https://api.monday.com/v2
    body:
      encoding: UTF-8
      string: '{"query":"mutation{archive_item(item_id: 123){id}}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - invalid_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Monday-Auth:
      - 'true'
      X-Monday-Region:
      - undefined
      Etag:
      - W/"56-jO0ghLOWWf8QDEiLlwC7K3Hc7eU"
      X-Monday-Rgn:
      - use1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"message":"Not authenticated","extensions":{"code":"NOT_AUTHENTICATED"}}]}'
  recorded_at: Mon, 27 Oct 2025 02:21:59 GMT
recorded_with: VCR 6.3.1
